.ttk-scm-app-collate-invoice-batch-update-inventory-account {
	.ant-form-item-control-wrapper{
		width: 180px;
		.ant-select{
			width: 100%;
		}
	}
	&-form{
		height: 60px;
	}
	.ant-form-item-label label:after{
        content: ''
	}
	
}
.dropdownClassStyleLiPiao {
	width: 350px !important;
}