.ttk-es-app-mediation-list{
  height: 100%;
  padding: 10px 0;
  .ttk-es-app-mediation-list-table{
    height: 100%;
  }
  .ttk-es-app-mediation-list-table-footer{
    height: 50px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    .ttk-es-app-mediation-list-table-footer-total{
      margin-right: 5px;
    }
  }
}