.ttk-scm-app-unauthorized-list{
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    overflow: auto;
    font-size: 12px !important;
    &-headDiv {
        display: flex;
        height: 50px;
        border: 1px solid #d9d9d9;
        line-height: 50px;
        align-items: center;
        background: #fff;
        padding: 0 10px;
        &-leftHeadDiv {
            display: flex;
            flex: 1;
        }
        &-rightHeadDiv {
            .mk-btn {
                margin-left: 8px;
            }
        }
    }
    &-accountQuery {
        &-leftMenuBtn {
            display: flex;
            align-items: center;
            line-height: 30px;
            margin-left: 12px;
        }
        &-searchIput {
            height: 30px;
            margin-right: 8px !important;
            width: 150px;
        }
    }
	&-body{
        display: flex;
        flex-direction: column;
        flex: 1;
        background: #fff;
        // border-right: 1px solid #d9d9d9;
    }
    &-table {
        flex: 1;
        background: #fff;
        border-right: 1px solid #d9d9d9;
    }

    &-title {
        height: 25px;
        border-left:1px solid #d9d9d9;
        border-right:1px solid #d9d9d9;
        padding-left: 10px;
    }

    &-footer {
        margin-top: 10px;
    }

    .option {
        font-size: 23px;
        .dikou {
            color: #33c2a1;
            &:hover{
                color: #009875;
            }
        }
        .buyudikoutubiao {
            color: #fb756a;
            &:hover{
                color: #d81a0a;
            }
        }
        .chexiaorenzheng {
            color: #ff9300;
            &:hover{
                color: #e17a01;
            }
        }
    }
    
    .mk-table .ant-table-thead > tr:first-child > th:last-child {
        border-right: none;
    }
    .mk-table .ant-table-tbody tr> td:last-child {
        border-right: none;
    }
    .mk-input {
        font-size: 12px;
    }
    .mk-datepicker {
        width: 100%;
    }
    .mk-search .mk-normal-search {
        padding-bottom: 10px !important;
    }
    .ant-form-item-label {
        width: 20% !important;
    }
    .ant-input {
        height: 30px;
        font-size: 12px;
    }
    .mk-table table td > div {
        display: block !important;
    }
    .ant-input-search-icon {
        pointer-events: auto !important;
        cursor: pointer;
    }
    .ant-table-header > table {
        border: none !important;
    }
    .mk-search {
        border-bottom: 1px solid #d9d9d9;
    }
    .mk-table .ant-table-body > table {
        border-top: none !important;
    }
    .mk-normal-search-left {
        flex: 1 !important;
    }
}
.subjectSetClass {
    font-size: 12px;
    .decritionSpan {
        // color: @primary-color;
        color: #fa954c;
        // margin-left: 5px;
        margin-left: 130px;
    }
    .mk-form .ant-form-item-label {
        // width: 150px;
        width: 125px;
    }
    .ant-form-item-control-wrapper {
        margin-left: 5px;
    }
    .ant-select-selection__rendered {
        // width: 270px !important;
    }
    .ant-select {
        width: 270px !important;
    }
    .ant-select-selection {
        width: 270px !important;
    }
    .ant-select-selection-selected-value {
        // padding-right: 31px !important;
        padding-right: 21px !important;
    }
    .ant-select-selection__rendered {
        // padding-left: 8px !important;
        // margin-left: 0px !important;
        margin-left: 8px !important;
        margin-right: 8px !important;
    }
    .ant-select-selection__clear {
        margin-right: 10px !important
    }
}

