.ttk-es-app-yyhome-function-introduce{
  *{
    padding: 0;
    margin: 0;
  }
  height: 100%;
  color: #333;
  font-family: "Helvetica Neue", Helvetica, "PingFang SC", "微软雅黑", "Hiragino Sans GB", "Microsoft YaHei", Arial, sans-serif;
  font-size: 14px;
  background: linear-gradient(to right, #6266ff , #966aff);
  /*.zzBg{
      background: rgba(0,0,0,0.25);
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
  }*/
  .helpDocument{
    background:#fff;
    width: 86%;
    margin:0 auto 0;
    position: relative;
    top:372px;
    box-shadow: 0 2px 10px rgba(0,0,0,.1);
    border-radius: 30px;
  }
  .introductBody{
    background: linear-gradient(to right, #6266ff , #966aff);

  }
  .wrapper{
    background: url("https://cloud-manager.oss-cn-beijing.aliyuncs.com/xdz/fun/bg.jpg") no-repeat center top;
    height: 773px;

  }
  .close{
    position: relative;
  }
  .close a{
    background:url("https://cloud-manager.oss-cn-beijing.aliyuncs.com/xdz/fun/close.png");
    width: 12px;
    height: 12px;
    display: inline-block;
    position: absolute;
    top: 12px;
    right: 12px;
  }
  .close a:hover{
    background:url("https://cloud-manager.oss-cn-beijing.aliyuncs.com/xdz/fun/close_hover.png");
  }
  .content{
    padding-top: 30px;
    margin: 0 0 30px 60px;
    /*height: 520px;*/
    /*overflow-y: auto;*/
  }
  .aticle{
    margin-right: 60px;

  }
  .content h1{
    background: url("https://cloud-manager.oss-cn-beijing.aliyuncs.com/xdz/fun/titleBg.png");
    width: 740px;
    height: 70px;
    line-height: 70px;
    text-align: center;
    font-size: 26px;
    font-weight: bold;
    color: #0065b3;
    margin: 0 auto;
    /*margin-bottom: 35px;*/
  }
  .content .yyText{
    margin-top: 26px;
  }
  .content .yyText p{
    color: #666666;
    font-style:italic;
    text-align: center;
    position: relative;
    font-size: 16px;
    line-height: 28px;
    z-index: 2;
  }
  .content .yyText .hr1{
    background: #f8f8f8;
    width: 378px;
    height: 6px;
    margin: 0 auto;
    border: none;
    position: relative;
    top: -10px;
    z-index: 1;
  }
  .content .yyText .hr2{
    width: 180px;
  }
  .content .yyText b{
    color: #0065b3;
  }
  .content  h2{
    margin: 35px auto 16px;
    font-size: 22px;
    font-weight: bold;
    height: 60px;
    display: inline-block;
    line-height: 60px;
    text-align: center;
    position: relative;
    padding: 0 20px;
  }
  .content  h3{
    font-size: 18px;
    font-weight: bold;
    margin:20px 0 16px;
    text-indent: 2em;
  }
  .content .cons{
    padding-bottom: 50px;
  }
  .content .cons .indext p{
    /*text-indent: 4em;*/
    margin-left: 22px;
  }
  .content .cons .indext p.p1{
    margin-left: 66px;
  }
  .content .cons .indext p.p2{
    margin-left: 106px;
  }
  .content .cons p{
    font-size: 18px;
    line-height: 40px;
    /*text-indent: 2em;*/
    margin-left: 44px;
  }
  .content .cons p.red{
    color: #e94033;
  }
  .content .cons li{
    list-style-type: circle;
    display: inline;
  }
  .content .cons img{
    text-align: center;
    margin: 35px auto 14px;
    border: 1px solid #eeeeee;
    box-shadow: 0 2px 8px #f1f1f1;
    border-radius: 3px;
    max-width: calc(~"100% - 130px");
  }
  .content .cons .yuan{
    width: 8px;
    height: 8px;
    display: inline-block;
    background: #555;
    border-radius: 2px;
    position: relative;
    top: -2px;
    left: -16px;
  }
}