.ttk-scm-detailedHabit-card {
    font-size: 12px;
    .formitem1,.formitem2 {
        margin-left: 20px;
        margin-bottom: 15px !important;
        label {
            font-size: 12px;
            width: 280px;
            span {
                font-size: 12px;
            }
        }
    }
    .helpPopover1 {
        color: @primary-color;
        font-size: 20px;
        position: absolute;
        top: 0px;
        left: 100px;
    }
    .helpPopover2 {
        color: @primary-color;
        font-size: 20px;
        position: absolute;
        top: 112px;
        left: 100px;
    }
}