.ant-select-dropdown-menu-item-selected, .ant-select-dropdown-menu-item-selected:hover{
    background:  @antSelect-selected-color;
}

.ant-select{
	font-family: "Microsoft Yahei","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 13px;
}

.ant-select-dropdown .ant-select-dropdown-menu-item {
    font-size: 13px;
    color: #333;
}
.ant-select-dropdown .ant-select-dropdown-menu-item-disabled {
    color: rgba(0, 0, 0, 0.25);
    cursor: not-allowed;
}
