.mk-input-number, .mk-input {
    font-family: "Microsoft Yahei","Helvetica Neue",Helvetica,Arial,sans-serif;
    color: #333;
}
.ant-input {
    font-family: "Microsoft Yahei","Helvetica Neue",Helvetica,Arial,sans-serif;
    color: #333;
    font-size: 13px;

}
.ant-input-search {
	font-family: "Microsoft Yahei","Helvetica Neue",Helvetica,Arial,sans-serif;
    input{
        padding-right: 30px !important
    }
}
.ant-input-disabled{
    color: rgba(0, 0, 0, 0.25);
}
