.ant-popover{
    font-family: "Microsoft Yahei","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 13px;
    .ant-menu:not(.ant-menu-horizontal) .ant-menu-item-selected{
        background-color: #fff;
    }
    .ant-menu:not(.ant-menu-horizontal) .ant-menu-item-selected:hover{
        background-color: @item-hover-bg;
        color: @primary-color;
    }
    .ant-popover-inner-content {
        color: #333;
    }
}
