.app-proof-of-charge-common-add{
    .mk-form-item {
        display: flex;
        margin-bottom: 10px;
        .ant-form-item-label {
            width: 60px;
            font-size: 12px;
            label {
                color: #666;
            }
        }
        .ant-checkbox-wrapper, .ant-radio-wrapper {
            font-size: 12px;
        }
    }

    .mk-form-item.check {
        margin-left: 60px;
    }

    .ant-form-explain {
        font-size: 12px;
        margin-top: 1px;
    }
}