.ttk-tplus-batch-get-current-account {
	font-size: 12px;
	&-form{
		font-size: 12px;
	}
	.ant-form-item-control-wrapper{
		width: 275px;
		.ant-select{
			width: 100%;
		}
	}
	&-tip {
		position: relative;
		color: red;
		&>div:first-child{
			position: absolute;
			top: 0;
			// left: 10px;
			left: 17px;
			display: inline-block;
		}
		&>div:last-child{
			width: 80%;
			display: inline-block;
			// margin-left: 35px;
			margin-left: 42px;
		}
	}
	&-tip1{
		color: red;
		margin-left: 27px;
	}
	.radio {
		span{
			font-size: 12px;
		}
	}
}