.ttk-app-inventoryAdd-card {
    overflow-x: hidden;

    &-content-div {
        margin-bottom: 40px;

        button {
            float: right;
        }

        &-Button {
            margin-right: 10px;
            background: #1f7fbf;
            color: #fff;
        }

        &-Button:hover {
            background: #1f7fbf;
            color: #fff;
        }
    }

    &-dropdownname {

        .fullname0,
        .fullname1,
        .fullname2,
        .fullname3 {
            width: 50px;
            margin-right: 3px;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
            display: inline-block;
        }

        .fullname1 {
            width: 120px;
        }

        .fullname2 {
            width: 50px;
        }

        .fullname3 {
            width: 50px;
        }
    }

    .fixedDataTableCellLayout_main {
        .ant-select {
            width: 100% !important;
        }
    }

    .ant-select-selection__rendered {
        margin-left: 8px !important;
    }

    .ant-cascader-picker-label {
        padding-left: 8px !important;
        width: 180px !important;
    }

    .shouzhileixing {
        width: 98%;
    }

    .ant-cascader-picker-label {
        font-size: 12px !important;
    }

    .fixedDataTableRowLayout_body {
        a {
            font-size: 12px !important;
        }
    }

    &-content {
        &-top {
            position: relative;
            margin-bottom: 10px;
            font-size: 12px;

            .ant-calendar-picker {
                width: 80px;
                margin-right: 10px;

                .ant-calendar-picker-input {
                    font-size: 12px;
                }
            }

            .btn {
                position: absolute;
                top: 0;
                right: 0px;
                font-size: 12px;

                .ant-btn {
                    margin-left: 8px;
                }
            }
        }

        &-bottom {
            border: 1px solid #d9d9d9;

            .mk-datagrid .public_fixedDataTable_main {
                border-top: none !important;
                border-right: none !important;
            }

            .mk-datagrid .public_Scrollbar_main {
                border-left: none !important;
            }

            .mk-datagrid .public_fixedDataTable_bodyRow .public_fixedDataTableCell_main {
                padding: 4px 6px;
            }

            .mk-input,
            .ant-input {
                height: 26px !important;
                font-size: 12px;

                display: block;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
                width: 100%;
            }

            .mk-select {
                width: 100%;
                height: 26px;
                font-size: 12px;
            }

            .ant-select-selection--single {
                height: 26px !important;

                .ant-select-selection-selected-value {
                    padding-right: 10px !important;
                }
            }

            .mk-datagrid .public_fixedDataTable_footer .public_fixedDataTableCell_main {
                border-right: none !important;
                border-left: 1px solid #d9d9d9 !important;
            }

            .mk-datagrid .public_fixedDataTable_bodyRow .public_fixedDataTableCell_main {
                border-right: none !important;
                border-left: 1px solid #d9d9d9 !important;
            }

            .mk-datagrid .public_fixedDataTable_header .public_fixedDataTableCell_main {
                border-right: none !important;
                border-left: 1px solid #d9d9d9 !important;
            }

            .mk-datagrid .public_Scrollbar_main {
                border-left: 1px solid #d9d9d9 !important;
            }

        }

    }

    .ttk-app-inventoryAdd-card-form-details-span {
        text-align: center;
        line-height: 28px;
        position: relative !important;

        .ttk-table-app-list-td-con {
            position: absolute;
            left: -8px;

            .state_box1 {
                position: absolute;
                left: 35px;

                i {
                    color: red;
                }
            }
        }

    }

    .vertical_left_top {
        display: inline-block;
        position: absolute;
        left: 0px;
        top: -7px;
    }

    .vertical_left_top::before {
        border: 8px solid;
        border-color: #666 transparent transparent #666;
        display: inline-block;
        content: '';
    }

    &-form {
        &-details {
            .mk-datagrid-addDelRow-cell {
                &:hover {
                    border-right-width: 0px;
                    z-index: 2;
                }
            }

            .public_fixedDataTable_bodyRow .mk-datagrid-cellContent {
                line-height: 26px !important;
            }

            .ant-select-selection__rendered {
                line-height: 26px !important;
            }

            .fixedDataTableRowLayout_rowWrapper:hover {

                .mk-datagrid-editable-add-row,
                .mk-datagrid-editable-remove-row {
                    display: block !important;
                }

                .addDelrow {
                    display: none !important;
                }
            }

            .ant-form-item-center,
            .mk-datagrid-cellContent {
                text-align: center;
            }

            .ttk-app-inventoryAdd-card-form-details-span {
                text-align: center;
                line-height: 28px;
                position: relative;

                .state_box1 {
                    position: absolute;
                    left: 10px;
                }
            }

            .public_fixedDataTable_scrollbarSpacer {
                border-left: 1px solid #d9d9d9;
                z-index: 666;
            }

            .public_fixedDataTable_footer .public_fixedDataTable_scrollbarSpacer {
                border: 1px solid #d9d9d9;
            }

            .ScrollbarLayout_mainVertical .public_Scrollbar_main .public_Scrollbar_mainActive {
                border: 1px solid #d9d9d9 !important;
                border-bottom: none !important;
            }
        }
    }

    &-cell-right {
        text-align: right;
    }

    &-cell-center {
        text-align: center;
    }
}

.inventory-cardlc {
    .ant-modal-body {
        padding: 10px 0px 0px 0px !important;
    }

    .content {
        padding: 0px 50px;
        display: table;

        .jinggaoIcon {
            font-size: 25px;
            color: #faad14;
            padding-right: 16px;
            display: table-cell;
        }

        .pdiv {
            display: table-cell;
            position: relative;
            top: -3px;
        }
    }

    .footer {
        padding: 10px 0;
        border-top: 1px solid #e8e8e8;
        margin-top: 24px;
        text-align: center;

        button {
            margin: 0 4px;
        }
    }

}

.productselectCss {
    font-size: 12px;
    color: #333;

    .butDiv {
        height: 30px;

        .mk-btn {
            margin-left: 8px;
        }

        .mk-form {
            display: inline-block;
            height: 30px;
            line-height: 30px;
        }

        .mk-form-item {
            height: 100%;
            position: relative;
            top: -5px;
        }

        .mk-input-number {
            width: 100px;
            border: none;
            border-bottom: 1px solid;
            border-radius: 0px;
        }

        .ant-input:focus {
            box-shadow: none !important;
        }
    }

    .middleProduction {
        display: flex;
        flex-direction: row;
        // justify-content: space-between;
        margin-top: 10px;
        height: 30px;
        line-height: 30px;

        .middleLeft,
        .middleRight {
            display: flex;
            flex-direction: row;
            font-size: 12px;
        }

        .middleLeft {

            .amountTotal,
            .syAmount {
                margin-right: 20px;
            }

            .check,
            .span,
            .form {
                margin-left: 15px;
            }

            .mk-form-item {
                height: 30px;

                .mk-input-number {
                    width: 60px;
                }
            }

            .mk-checkbox {
                color: #333;
            }
        }

        // .middleRight {
        // 	.check, .span, .form {
        // 		margin-left: 10px;
        // 	}
        // 	.mk-form-item {
        // 		height: 30px;
        // 		.mk-input-number {
        // 			width: 60px;
        // 		}
        // 	}
        // 	.mk-checkbox {
        // 		color: #333;
        // 	}
        // }
    }
}

.ttk-app-inventoryAdd-card-Cascader {

    // height: 210px;
    // ul {
    //     min-width: 218px;
    //     li {
    //         height:30px;
    //     }
    // }
    .ant-cascader-menu {
        font-size: 12px;
    }

    .ant-cascader-menu-item-active:not(.ant-cascader-menu-item-disabled),
    .ant-cascader-menu-item-active:not(.ant-cascader-menu-item-disabled):hover {
        background: @primary-1;
        color: @primary-color;
        font-weight: normal;
    }

    .ant-cascader-menu-item:hover {
        background: @primary-1;
        color: @primary-color;
        font-weight: normal;
    }
}