.ttk-es-app-customer-batch-update{
  padding: 0 20px;
  .ant-form-item{
    display: flex;
    .ant-form-item-label{
      width: 140px;
    }
    .ant-form-item-control-wrapper{
      width: calc(~"100% - 160px");
      .ant-select{
        width: 100%;
      }
    }
  }
}