.ttk-es-app-customerassign-modal{
    font-size: 12px;
    min-height: 340px;
    &-list {
      &-span{
          color: #333;
          font-size: 12px;
          display: inline-block;
          width: 100px;
          text-align: left;
      }
        &-checkbox{
            margin-left: 40px;
          margin-right: 15px;
        }
      .ant-select-dropdown{
        height: 160px!important;

      }
      .ant-select-dropdown-menu{
        height: 160px!important;
        >li{
          text-align: left!important;
        }
      }
    }

}
.customerassign-style{
    .ant-modal-body{
        padding-top: 30px;
    }
}
