.ttk-gl-app-report-list-root{
    // min-width: 1000px;
    .ant-tabs-nav-container {
        line-height: 0.8 !important;
    }
    .ant-tabs-bar {
        margin-bottom: 12px !important;
    }
    &-table1{
        border-right: 1px solid #d9d9d9;
        .ant-table-scroll {
            border-top: 1px solid #d9d9d9;
        }
        .ant-table-thead {
            tr{
                th>span {
                    span{
                        white-space: pre-wrap;
                    }
                } 
                th {
                    text-align: center !important;
                    background-color: #eaeaea !important;
                }
            }
        }
        .ant-table-body {
            table {
                width: 100% !important;
            }
            tr>td{
                background:#fff !important;
                padding: 8px !important;
                &:nth-child(1){
                    background:#F9F8FA !important;              
                }
                &:nth-child(2){
                    background:#F9F8FA !important;              
                }
                &:nth-child(5){
                    background:#F9F8FA !important;              
                }
                &:nth-child(6){
                    background:#F9F8FA !important;              
                }
            }
        }
        .ant-table-header {
            table {
                width: 100% !important;
                border-left: none;
            }
        }

        .divCss {
            white-space: pre-wrap;
        }
    }

    &-table2{
        border-right: 1px solid #d9d9d9;
        .ant-table-scroll {
            border-top: 1px solid #d9d9d9;
        }
        .ant-table-header {
            table {
                width: 100% !important;
                border-left: none;
            }
        }
        .ant-table-thead {
            tr{
                th>span {
                    span{
                        white-space: pre-wrap;
                    }
                } 
                th {
                    text-align: center !important;
                    background-color: #eaeaea !important;
                }
            }
        }
        
        .ant-table-body {
            table {
                width: 100% !important;
            }
            tr>td{
                background:#fff !important;
                padding: 8px !important;
                &:nth-child(1){
                    background:#F9F8FA !important;              
                }
                &:nth-child(2){
                    background:#F9F8FA !important;              
                }
            }
        }

        .divCss {
            white-space: pre-wrap;
        }
    }

    // .OrgB {
    //     .ant-table-tbody {
    //         tr:nth-child(odd){
    //             background:#fff !important;
    //         }
    //         tr:nth-child(1){
    //             font-weight: bold;
    //         }
    //         tr:nth-child(16){
    //             td:nth-child(1){
    //                 font-weight: bold;
    //             }
    //         }
    //         tr:nth-child(17){
    //             td:nth-child(5){
    //                 font-weight: bold;
    //             }
    //         }
    //     }
    // }
    // .OrgP {
    //     .ant-table-tbody {
    //         tr:nth-child(odd){
    //             background:#fff !important;
    //         }

    //         tr:nth-child(1){
    //             td:nth-child(1){
    //                 font-weight: bold;
    //             }
    //         }

    //         tr:nth-child(13){
    //             td:nth-child(1){
    //                 font-weight: bold;
    //             }
    //         }

    //         tr:nth-child(16){
    //             td:nth-child(1){
    //                 font-weight: bold;
    //             }
    //         }

    //         tr:nth-child(18){
    //             td:nth-child(1){
    //                 font-weight: bold;
    //             }
    //         }

    //         tr:nth-child(21){
    //             td:nth-child(1){
    //                 font-weight: bold;
    //             }
    //         }
    //         tr:nth-child(31){
    //             td:nth-child(1){
    //                 font-weight: bold;
    //             }
    //         }
    //         tr:nth-child(32){
    //             td:nth-child(1){
    //                 font-weight: bold;
    //             }
    //         }
    //     }
    // }

    // .orgZhiDuB {
    //     .ant-table-tbody {
    //         tr:nth-child(odd){
    //             background:#fff !important;
    //         }
    //         tr:nth-child(1){
    //             font-weight: bold;
    //         }
    //         tr:nth-child(16){
    //             td:nth-child(1){
    //                 font-weight: bold;
    //             }
    //         }
    //         tr:nth-child(17){
    //             td:nth-child(5){
    //                 font-weight: bold;
    //             }
    //         }
    //     }
    // }
}

