@iconDayin: #45ACF7;
.costIncomeRatioCss1{
    .cost-income-ratio{
        &-header{
            margin-bottom: 8px;
            input{
                height: 30px;
                font-size: 12px;
                width: 80px;
            }
        }
        &-table{
            height: 340px;
            .ant-table-body{
                border-right: 1px solid #d9d9d9;
            }
            .ant-table-tbody{
                .text_center{
                    text-align: center;
                }
                .text_right{
                    text-align: right;
                }
                .text_left{
                    text-align: left;
                }
            }
        }
    }
}
.completeMaticCss{
    .cost-income-ratio{
        &-header{
            text-align: right;
            font-size: 12px;
            margin-bottom: 8px;
            .ant-btn{
                margin-left: 8px;
            }
        }
        &-table{
            height: 340px;
            .ant-table-body{
                border-right: 1px solid #d9d9d9;
                overflow: hidden auto !important;
            }
            tr{
                td:first-child{
                    text-align: center !important;
                }
                td:not(first-child){
                    text-align: right !important;
                    input{
                        height: 28px;
                        font-size: 12px;
                        text-align: right;
                    }
                }
            }
            tr:last-child{
                font-weight: 700;
                td{
                    background-color: #fff6ea !important
                }
                td:last-child{
                    padding-right: 15px;
                }
            }
            tr:last-child:hover{
                td{
                    background-color: #fff6ea !important
                }
            }
        }
    }
}

.completeMaticCss2{
    .cost-income-ratios{
        &-table{
            height: 340px;
            .ant-table-body{
                border-right: 1px solid #d9d9d9;
                overflow: hidden auto !important;
            }
            tr{
                td:first-child{
                    text-align: center !important;
                }
                td:not(first-child){
                    text-align: right !important;
                    input{
                        height: 28px;
                        font-size: 12px;
                        text-align: right;
                    }
                }
            }
            .ant-select{
                .ant-select-selection--single{
                    height: 28px;
                    font-size: 12px;
                }
                .ant-select-selection__rendered{
                    line-height: 27px;
                }
            }
        }
    }
}
.completeMaticCss2-setting{
    li{
        width: 245px;
    }
}