.ttk-es-app-sjxx{
    font-size: 12px;
    min-height: 390px;
    &-wrap{
        &-lxfs{
            margin-bottom:10px;
            &-select{
                width: 120px;
                display: inline-block;
                margin-right:10px;
            }
            &-input{
                width: 170px;
                display: inline-block;
            }
        }
        &-jlsj{
            &-wrap{
                padding-left:20px;
            }
            &-input{
                width: 260px;
            }
            .mk-form-item{
                display: inline-block;
                margin-right:20px;
            }
            &-lxfstitles{
                display: inline-block;
                width: 42%;
                border-bottom: 1px solid #e8e8e8;
                vertical-align: middle;
            }
            &-lxfstitle{
                margin:0 15px;
            }
            &-mlxfstitles{
                display: inline-block;
                width:100%;
                border:1px solid #e8e8e8;
            }
            &-zh{
                width: 31%;
                .ttk-es-app-sjxx-wrap-lxfs-select{
                    width: 260px;
                }
            }
            &-zharea{
                width: calc(100% - 40px);
            }
        }
        .ttk-es-app-sjxx-wrap-jlsj-title{
            font-size: 16px;
            font-weight: bold;
            padding: 30px 0 8px 0;
            /* margin-left: -30px; */
            border-bottom: 1px solid #e8e8e8;
            margin-bottom: 10px;
            padding-left:20px;
        }
        &-xqxx{
            &-title{
                padding-left:20px;
                height: 38px;
                border:1px solid #e8e8e8;
            }
            &-titleitem{
                display: inline-block;
                padding: 0 20px;
                height: 38px;
                font-size: 13px;
                line-height: 38px;
                color: #a9b0bb;
                cursor: pointer;
            }
            &-titleitem.active{
                color: #676b6e;
                border-top: 3px solid #0066b3;
                border-left: 1px solid #dde0e5;
                border-right: 1px solid #dde0e5;
                border-bottom: 1px solid #fff;
            }
            &-zc{
                padding-left:20px;
            }
        }
        .xxdz-textarea{
            height: 68px;
            border-radius: 3px!important;
            border: 1px solid #dde0e5;
            padding-left: 10px;
            word-break: break-all;
            resize: none;
        }
    }
}
