.ttk-scm-voucherHabit-card {
    .prompt {
        color: #fa954c;
        line-height: 36px;
        font-size: 12px
    }
    .title{
        height: 18px;
        font-size: 12px
    }
    .ant-radio-group{
        display: block;
        margin-left: 32px;
        .ant-radio-wrapper{
            display: block;
            line-height: 36px;
            font-size: 12px
        }
    }
    .text {
        font-size: 12px;
        color: rgba(0, 0, 0, 0.85);
    }
    .date{
        margin-top: 10px;
        margin-bottom: 10px;
        .ant-form-item-control-wrapper{
            display: inline-block;
            .ant-select{
                width: 180px;
            }
        }
    }
    .checkboxGroups {
        margin-bottom: 10px;
        >.ant-form-item-control-wrapper {
            >.ant-form-item-control {
                >.ant-form-item-children {
                    >.ant-checkbox-wrapper {
                        width:20%;
                        margin-left: 0px
                    }
                }
            }
        }
    }
    .ant-tabs-bar{
        margin: 0 0 8px;  
    }
    .ant-tabs-tab{
        font-size: 12px;
    }

    .xc_form{
        margin-bottom: 0;
        margin-left: 32px;
        height: 36px;
        .ant-form-item-control-wrapper{
            width: 65%;
            display: inline-block;
        }
        .xc_form_radio{
            display: inline-block;
            margin-left: 0;
            .ant-radio-wrapper{
                display: inline-block;
            }
        }
    }
    .ant-checkbox-wrapper{
        font-size: 12px;
    }
    .he_ping{
        margin-left: 32px;
        line-height: 32px;
    }
}