.app-account-beginbalance-changePeriod {
    padding: 15px;
    &-instructDiv {
        margin-bottom: 10px;
    }
    &-selectYear {
       margin-left: 10px;
    }
    &-selectMonth {
       margin-left: 10px;
    }
    .ant-select-dropdown-menu-item-selected, .ant-select-dropdown-menu-item-selected:hover{
        background: tint(@primary-color, 90%);
    }
}
