.ttk-scm-home-invoice{
    width: 100%;
    height: 100%;
    // width: 550px;
    // height: 308px;
   
    &>div{
        height: 100%;
    }
    .ant-spin-nested-loading > div > .ant-spin{
        left: 0 !important;
    }
    .ant-spin-nested-loading > div:nth-of-type(1){
        display: flex;
        // height: 96%;
        .edfx-app-home-voucher-main{
            // height: 100%
        }
    }
    .ttk-scm-home-invoice-span {
        span:last-child {
            margin: 0 5px 0;
        }
    }
    .ttk-scm-home-invoice-text {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        .code {
            margin: 0 5px 0 5px;
        }
        span:first-child {
            position: relative;
            i{
                font-size: 24px !important;
                color:@primary-color;
                position: absolute;
                top: -2px;
                // left: 155px;
                // color: #1eb5ad;
            }
        }
        span:nth-child(2) {
            margin-left:5px
        }
    }
    .ttk-scm-home-invoice-text1 {
        display: flex;
        flex-direction: row;
        padding: 0px 60px 0px; 
        justify-content: space-around;
        font-size:14px;
        span {
            span {
                margin: 0 5px 0 5px; 
            }
        }
        .code {
            margin: 0 5px 0 5px;
        }
    }
    .ant-tabs-line {
        width: 100%;
        margin-top: -5px !important;
        // margin-bottom: 10px;
        flex: 0 0 45px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        display: flex;
        .ant-tabs-bar {
            width: 154px;
            margin: 0 0 0 0 !important;
        }
    }

    .ant-spin-container {
        height: 100%;
        flex-direction: column;
    }
    .ttk-scm-home-invoice-picture {
        display: flex
    }
    .ant-spin-nested-loading > div > .ant-spin{
        position:static!important;
    }
    .ant-spin-nested-loading{
        // height: 221px;
        flex: 1;
        margin-top: 6px;
    }
    .mk-layout{
        overflow: hidden;
    }
    .mk-table{
        border-left: none;
        border-bottom: none;
        table{
            border-top: 1px solid #d9d9d9;
            border-left: 1px solid #d9d9d9;
        }
    }
    .rcchart{
        height: 190px !important;
    }
    .rctable{
        height: 400px !important;
        // overflow-y: auto !important;
        // height: 236px !important;
    }
    .ant-table-content{
        .ant-table-placeholder{
            border-bottom: 1px solid #e8e8e8 !important;
        }
    }
    .ttk-scm-home-invoice-center {
        position: relative;
        flex: 1;
        .ttk-scm-home-invoice-content {
            height: 100%;
            .ant-table-body {
                height: 195px !important;
                overflow: auto;
            }
        }
        .ttk-scm-home-invoice-bottom {
            position: absolute;
            display: block;
            top: 25px;
            // left: 93px;
            width: 100%;
            left: 17.5%;
            span {
                margin: 0 5px 0 5px;
            }
        }
    }
    canvas {
        left: -120px !important;
        top: -10px !important;
    }
    &-content{
        flex: 1;
        // height: 100%;
        overflow: hidden;
        &>div{
            // height: 236px !important;
        }
        .ant-table-tbody{
            tr{
                
                td{
                    text-align: right;
                }
                td:first-child{
                    text-align: center;
                }
            }
            tr:last-child {
                font-weight: 600;
            }
        }
    }
    &-header.mk-layout{
        overflow: visible;
    }
    &-header {
        // margin-bottom: 10px;
        color: #333;
        .focusIcon{
            color: @primary-color;
        }
        .unfocusIcon{
            background:  #ffffff;

        }
        .ttk-scm-home-invoice-header-left {
            display: flex;
            line-height: 32px;
        }
        .ant-radio-button-wrapper-checked{
            border-color: #D9D9D9;
            color: @primary-color;
            box-shadow: none;
        }
        flex: 0 0 32px;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        .ant-radio-button-wrapper{
            border-radius: 0px;
            padding: 0px;
        }
        i{
            // height: 30px;
            // width: 35px;
            font-size: 30px;
            // border: 1px solid #D9D9D9;
            &:hover{
                color: @primary-color
            }
            
        }
        .list{
            border-left: none;
        }
        .homeIcon{
            border-radius: 5px;
            width: 30px;
            margin-left: 8px;
            border: 1px solid #D9D9D9;
            color: #999999;
            &:hover{
                cursor: pointer;
            }
        }
        .refresh{
            color: #45ACF7;
            &:hover{
                border-color: #45ACF7;
                color: #45ACF7;
            }
        }
        .unfold{
            color: #FFC000;
            &:hover{
                border-color: #FFC000;
                color: #FFC000;
            }
        }
        .edfx-icon {
            font-size: 16px;
        }
        span {
            font-size: 14px;
            // color: #333333;
        }
    }
    & > div {
        flex:1
    }
}
.grayFilter .ttk-scm-home-invoice{
    .edficon-shuaxin,.unfold,{
        color: #E0E4E9;
        &:hover{
            border: 1px solid #E0E4E9;
        }
    }
    .edficon-baobiao{
        color: #E0E4E9;
    }
    .edficon-biaoge{
        background:#ffffff;
        color:#E0E4E9;
    }
    .ant-tabs-line {
        margin-top: -5px;
        color:#E0E4E9;
        .ant-tabs-ink-ba {
            color:#E0E4E9;
        }
        .ant-tabs-tab-active {
            color:#E0E4E9;
        }
        .ant-tabs-ink-bar {
            background-color:#E0E4E9;
        }
    }
    .anticon-bangzhutishi {
        font-size: 24px !important;
        color:#E0E4E9 !important;
    }
    .ttk-scm-home-invoice-text {
        color:#E0E4E9;
    }
    .ttk-scm-home-invoice-text1 {
        color:#E0E4E9;
    }
    .ttk-scm-home-invoice-bottom {
        color:#E0E4E9;
    }
}
.grayFilter:hover .ttk-scm-home-invoice{
    .unfold{
        color: #FFC000;
        &:hover{
            border-color: #FFC000;
            color: #FFC000;
        }
    }
    .edficon-shuaxin{
        color: #45ACF7;
        &:hover{
            border: 1px solid #45ACF7;
        }
    }
    .focusIcon .edficon-baobiao{
        color: #1eb5ad;
        background:#ffffff;
    }
    .edficon-biaoge,.edficon-baobiao{
        background:#ffffff;
        color:rgba(0, 0, 0, 0.65);
        &:hover{
            color:#1eb5ad;
        }
    }
    .anticon-bangzhutishi {
         font-size: 24px !important;
         color:@primary-color !important;
    }
    .focusIcon .edficon-biaoge{
        color:#1eb5ad;
        background:#ffffff;
    }
    .ant-tabs-line {
        color:rgba(0, 0, 0, 0.65);
        .ant-tabs-ink-ba {
            color:@primary-color
        }
        .ant-tabs-tab-active {
            color:@primary-color
        }
        .ant-tabs-ink-bar {
            background-color:@primary-color
        }
    }
    .ttk-scm-home-invoice-text {
        color:rgba(0, 0, 0, 0.65);
    }
    .ttk-scm-home-invoice-text1 {
        color:rgba(0, 0, 0, 0.65);
    }
    .ttk-scm-home-invoice-bottom {
        color:rgba(0, 0, 0, 0.65);
    }
}

.ttk-scm-home-invoice-helpPopover {
    .ant-popover-inner {
        width: 350px;
    }
}

