.app-cashflowstatement-card{
    width: 100%;
    height: 100%;
    font-size: 12px;
    position: relative;
    top: -13px;
    .app-account-beginbalance-content{
        border: none;
        border-top: 1px solid #d9d9d9;
        border-bottom: 1px solid #d9d9d9;
        input{
            height: 26px;
        }
    }
    td{
        text-overflow: ellipsis !important;
    }
    td:nth-child(2){

        text-align: center;
    }
    .app-account-beginbalance-content{

        &-table-tbody.orgTable{
            background:#fff;
            flex: 1;
            border-top: 1px solid #d9d9d9;
            .rc-table-row{
                .z-grid-displaycell{
                    // text-align: left;
                }
                .z-grid-displaycell:nth-child(1){
                    text-align: center;
                }
            }

            tr:nth-child(odd){
                background:#fff ;
            }
            // tr:nth-child(even){
            //     background:#f8f8f8 ;
            // }
            tr{
                td:nth-child(1){
                    text-indent: 2em;
                }
            }
            tr:nth-child(1){
                td:nth-child(1){
                    text-indent: 0em;
                }
            }
            tr:nth-child(12){
                td:nth-child(1){
                    text-indent: 0em;
                }
            }
            tr:nth-child(16){
                td:nth-child(1){
                    text-indent: 0em;
                }
            }
            tr:nth-child(25){
                td:nth-child(1){
                    text-indent: 0em;
                }
            }
            tr:nth-child(35){
                td:nth-child(1){
                    text-indent: 0em;
                }
            }
            tr:nth-child(36){
                td:nth-child(1){
                    text-indent: 0em;
                }
            }
            tr:nth-child(37){
                td:nth-child(1){
                    text-indent: 0em;
                }
            }
            tr:nth-child(38){
                td:nth-child(1){
                    text-indent: 0em;
                }
            }
            tr:nth-child(5){
                td:nth-child(1){
                    text-indent: 4em;
                }
                background-color: #FEF6EB
            }
            tr:nth-child(10){
                td:nth-child(1){
                    text-indent: 4em;
                }
                background-color: #FEF6EB
            }
            tr:nth-child(11){
                td:nth-child(1){
                    text-indent: 4em;
                }
                background-color: #FEF6EB
            }
            tr:nth-child(18){
                td:nth-child(1){
                    text-indent: 4em;
                }
                background-color: #FEF6EB
            }
            tr:nth-child(23){
                td:nth-child(1){
                    text-indent: 4em;
                }
                background-color: #FEF6EB
            }
            tr:nth-child(24){
                td:nth-child(1){
                    text-indent: 4em;
                }
                background-color: #FEF6EB
            }
            tr:nth-child(29){
                td:nth-child(1){
                    text-indent: 4em;
                }
                background-color: #FEF6EB
            }
            tr:hover{
                background: #D7FAFD;
            }
            td{
                padding:0px 8px;
                border-top:0;
                border-bottom:0;
                border-left:0;
                border-color:#e7e6e6;
                height: 37px !important;
            }
            tr>td:nth-child(2){
                text-align: center;
            }
            tr>td:nth-child(3){
                text-align: right;
                .z-grid-displaycell:nth-child(1) {
                    text-align: right;
                }
            }
            tr>td:nth-child(4){
                text-align: right;
                .z-grid-displaycell:nth-child(1) {
                    text-align: right;
                }
            }
        }
        &-table-tbody.smallOrgTable{
            background:#fff;
            flex: 1;
            border-top: 1px solid #d9d9d9;
            .rc-table-row{
                .z-grid-displaycell{
                    // text-align: left;
                }
                .z-grid-displaycell:nth-child(1){
                    text-align: center;
                }
            }

            tr:nth-child(odd){
                background:#fff ;
            }
            // tr:nth-child(even){
            //     background:#f8f8f8 ;
            // }
            tr{
                td:nth-child(1){
                    text-indent: 2em;
                }
            }
            tr:nth-child(1){
                td:nth-child(1){
                    text-indent: 0em;
                }
            }
            tr:nth-child(9){
                td:nth-child(1){
                    text-indent: 0em;
                }
            }
            tr:nth-child(16){
                td:nth-child(1){
                    text-indent: 0em;
                }
            }
            tr:nth-child(23){
                td:nth-child(1){
                    text-indent: 0em;
                }
            }
            tr:nth-child(24){
                td:nth-child(1){
                    text-indent: 0em;
                }
            }
            tr:nth-child(25){
                td:nth-child(1){
                    text-indent: 0em;
                }
            }

            tr:nth-child(8){
                td:nth-child(1){
                    text-indent: 4em;
                }
                background-color: #FEF6EB
            }
            tr:nth-child(15){
                td:nth-child(1){
                    text-indent: 4em;
                }
                background-color: #FEF6EB
            }
            tr:nth-child(22){
                td:nth-child(1){
                    text-indent: 4em;
                }
                background-color: #FEF6EB
            }

            tr:hover{
                background: #D7FAFD;
            }
            td{
                padding:0px 8px;
                border-top:0;
                border-bottom:0;
                border-left:0;
                border-color:#e7e6e6;
                height: 37px !important;
            }
            tr>td:nth-child(2){
                text-align: center;
            }
            tr>td:nth-child(3){
                text-align: right;
                .z-grid-displaycell:nth-child(1) {
                    text-align: right;
                }
            }
            tr>td:nth-child(4){
                text-align: right;
                .z-grid-displaycell:nth-child(1) {
                    text-align: right;
                }
            }
        }
    }

    .del{
        font-size: 22px;
        color: #fb756a;
        &:hover{
            color: #d81a0a;
        }
    }
    .fixedDataTableRowLayout_rowWrapper{
        .public_fixedDataTable_header{
            .mk-datagrid-cellContent{
                background: #eaeaea !important;
                color: #333333;
                font-size: 12px;
                font-weight: bold;
            }
        }
    }
    &-header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 0 10px;
        height: 32px;
        margin-bottom: 8px;
        &-left, &-right {
            display: flex;
            flex-direction: row;
            justify-content: flex-end;
            overflow: hidden;
            .btn {
                margin-left: 8px;
                height: 30px;
                outline: none;
            }
        }
        &-left {
            justify-content: flex-start;
            line-height: 32px;
        }
        .refresh {
            font-size: 20px;
            padding: 0 5px;
        }
    }

    &-content {
        flex: 1;
        .del {
            cursor: pointer;
        }
        .mk-select {
            width: 100%;
        }
    }
    .textred {
        color: red;
        height: 20px;
    }
}
