.ttk-es-app-addcustomer-copyimg {
  &-modal{
    .ant-modal-content{
      .ant-modal-close{
        //display: none;
      }
      .ant-modal-header{
        display: none;
      }
    }
  }
  &-img{
    width: 220px;
    height: 220px;
    background: url('./img/downloadApp.png') no-repeat center center;
    margin: 15px auto;
  }
}

