.app-list-supplier {
	width: 100%;
	height: 100%;
	padding: 10px 0;
	&-backgroundColor {
		border: 1px solid #d9d9d9;
		background-color: #fff
	}
	&-header {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		//flex: 0 0 50px;
		padding: 9px 10px;
		height: 50px;
		&-left, &-right {
			display: flex;
			flex-direction: row;
			justify-content: flex-end;
			overflow: hidden;
			.btn {
				height: 30px;
				margin-left: 8px;
				outline: none;
			}
			.importIconBtn {
				height: 30px;
				width: 30px;
				padding: 0;
				margin-left: 8px;
				outline: none;
				color: #00B38A;
				&:hover, &:active {
					border-color: #FFC000;
				}
				&:focus {
					border-color: #d9d9d9;
				}
			}
		}
		&-left {
			justify-content: flex-start;
			.refresh {
				display: flex;
				align-content: center;
				justify-content: center;
				font-size: 28px;
				height: 30px;
				width: 30px;
				color: #45ACF7 !important;
				border-color: #D9D9D9;
				&:hover {
					border-color: #45ACF7;
				}
				&-btn {
					position: absolute;
					top: 1px;
					left: 1px;
				}
			}
			&-search{
				width: 165px;
				margin-right: 8px;
				.ant-input{
					height: 30px;
					min-height: 30px;
				}
				.ant-input-affix-wrapper, .ant-input:not(:last-child) {
					font-size: 12px;
					padding-right: 30px !important;
				}
			}
		}
	}
	&-content {
		flex: 1;
		.mk-datagrid .public_fixedDataTable_main {
			border-left: none;
		}
		.mk-datagrid .public_fixedDataTable_header .public_fixedDataTableCell_main {
			color: #333333;
		}
		.public_fixedDataTable_scrollbarSpacer {
			top: 0px;
		}
		//滚动条上部
		.public_fixedDataTable_scrollbarSpacer {
			top: 0px;
			background: #eaeaea;
		}
		.del {
			cursor: pointer;
		}
		a:hover {
			text-decoration: underline;
		}
	}
	&-footer {
		display: flex;
		flex-direction: row;
		justify-content: flex-end;
		height: 30px;
		margin-top: 10px;
	}
	.no-enable {
		color: #cccccc;
	}
	&-modal {
		.ant-modal-body {
			height: 470px
		}
	}
	&-contentHeight1 {
		.fixedDataTableLayout_rowsContainer {
			border: 1px solid #E9E9E9;
			height: 99% !important;
			width: 100% !important;
		}
	}
	&-contentHeight2 {
		.fixedDataTableLayout_rowsContainer {
			border: 1px solid #E9E9E9;
			width: 100% !important;
		}
	}
	//兼容搜狗浏览器7.0
	.ant-modal {
		top: 50px;
	}
}
