.ttk-stock-app-statements-zg-summary {
    box-sizing: border-box;
    height: 100%;
    width: 100%;
    background-color: #fff;
    padding: 0 10px 10px !important;
    // spin效果
    &-spin {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 200;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: rgba(255, 255, 255, 0.5);
    }
    .ttk-stock-weikaiqi {
        top:0;
        left:0;
    }

    // 页面内容
    &-main {
        flex: 1;
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        &-header {
            padding: 10px 0;
            &-title {
                text-align: center;
            }
            &-controller {
                // padding-top: 10px;
                &-monthPicker {
                    width: 100px;
                    margin-left: 8px;
                    vertical-align: bottom;
                }
                &-monthRangePicker {
                    margin-left: 8px;
                    vertical-align: bottom;
                }
                &-selector {
                    width: 140px;
                }
                &-export {
                    float: right;
                }
            }
        }
        &-content {
            flex: 1;
            display: flex;
            flex-direction: column;
            
            .vt-summary {
                font-size: 12px;
                font-weight: 700;
                text-align: right;
                div {
                    width: 130px;
                    border-right: 1px solid #d9d9d9;
                    padding: 0 10px;
                    &:last-child {
                        padding-right: 20px;
                    }
                }
                .left {
                    width: 520px;
                    text-align: center;
                }
            }
        }
    }
}