.ttk-es-app-ztmanage-import-success{
    font-size: 12px;
    min-height: 300px;
    //text-align: center;
    .green{
        color: #4fb08d;
        font-size: 32px;
    }
    .title{
        font-size: 16px;
        font-weight: bold;
        margin: 10px;
    }
    &-data{
        margin-bottom: 10px;
        span{
            display: inline-block;
            color: #333;
        }
        &-span{
            width: 200px;
            text-align: right;
        }
    }
    &-checkbox{
        position: absolute;
        bottom: 18px;
    }
    &-noteaccount {
        display: block;
        width: 100%;
        padding-left: 30px;
        padding-right: 30px;
        text-align: center;
        margin: 0 auto;
        color: @primary-color;
    }
    &-row {
        display: flex;
        flex-direction: row;
        justify-content: center;
        height: 28px;
        &-left {
            display: flex;
            flex-direction: row;
            justify-content: flex-end;
            min-width: 108px;
        }
        &-right {
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            min-width: 200px;
        }
        &-label {
            font-style: normal;
            font-size: 12px;
            color: #333;
            margin: 0px 0px 0px 15px;
            line-height: 28px !important;
        }
    }
}
