.ttk-es-app-download-taxpayer-information{
    font-size: 12px;
    min-height: 300px;
    &-progress {
        width: 80%;
        margin: 0 auto;
    }
    &-list {
        .title {
            font-weight: bold;
        }
        .sucess {
            color: #eee;
        }
        .error {
            color: red;
        }
    }
}
