@Color: #fff;
.ttk-gl-app-sourceaccount-auxlist {
    width: 100%;
    height: 350px;
    background: @Color;
    padding: 0px;
    &-content {
        display: flex;
        flex: 1;
        height: 300px;
        justify-content: center;
        align-content: center;
        flex-direction: column;
        background: @Color;
    }
    .mk-datagrid {
        border: 1px solid #d9d9d9;
        border-top: none;
    }
    // .ant-spin-container {
    //     height: 100%;
    //     display: flex;
    //     flex-direction: column;
    // }
}