.ttk-es-app-ztmanage-change-vattaxpayer {
    height: 260px;
    color: #333;
    padding: 15px;
    font-size: 14px;
    &-title{
        margin-bottom: 15px;
    }
    &-ybnsr{
        margin-bottom: 15px;
        &-checkbox{
            font-size: 12px;
            float: left;
            line-height: 40px;
            color: #333;
            margin-right: 10px;
        }
    }
    .ant-form-item{
        margin-top: 15px;
        margin-bottom: 10px;
        &-label{
            float: left;
        }
        &-control-wrapper{
            float: left;
        }
        .ant-calendar-picker{
            width: 120px!important;
            margin: 0 5px;
        }
    }
    .ztMessage{
        .anticon-question-circle{
            display: none!important;
        }
    }
    &-timefff{
        background: #fff;
        position: relative;
        left: -59%;
    }
    &-timenone{
        background: #f5f5f5;
        position: relative;
        left: -59%;
    }
    &-timestart{
        position: absolute;
        top: 0;
        line-height: 16px;
        left: 5%;
        background: #fff;
    }
    &-timestartn{
        position: absolute;
        top: 0;
        line-height: 16px;
        left: 5%;
        background: #f5f5f5;
    }
    &-timeend{
        position: absolute;
        top: 0;
        line-height: 16px;
        right: 19%;
        background: #fff;
    }
    &-timeendn{
        position: absolute;
        top: 0;
        line-height: 16px;
        right: 19%;
        background: #f5f5f5;
    }
}

