.ttk-edf-app-org-verifyca{
	width: 400px;
    text-align: left;
    padding-left: 100px;
	.text{
		font-size: 12px;
		color: #FF6000;
		&-marginleft{
			margin-left: 23px;
		}
	}
	.mk-form-item{
		display: flex;
		width:455px;
		margin:0 auto;
	}
	.ant-radio-wrapper{
		display: block !important;
	}

	&-blank{
		&-logo{
			text-align: center;
			padding: 10px 0;
			margin-left: 120px;
		}
		&-logotitle{
			font-size: 14px;
			padding: 10px;
			color: #FF6000;
		}
		&-logodesc{
			font-size: 12px;
			display: inline-block;
			padding: 10px;
			color: #333333;
		}
	}
}
