.inv-app-custom-list {
    width: 100%;
    height: 100%;
    font-size: 12px;
    background: #fff;

    .mk-spin {
        width: 100%;
        height: 100%;
    }

    .inv-batch-custom-list-div {
        .ant-tabs-bar {
            margin: 0;

            .ant-tabs-tab {
                margin: 0;
                padding: 12px;
            }
        }
    }

    .ant-table-fixed {
        width: 0;
    }

    .ant-spin-nested-loading {
        height: 100%;
        display: flex;
        flex-direction: column;
        flex: 1;

        .ant-spin-container {
            height: 100%;
            display: flex;
            flex-direction: column;
            flex: 1;
        }

        .ant-spin {
            max-height: 100%;
        }
    }

    .ant-table-body {
        overflow: auto !important;
    }

    .inv-batch-custom-header {
        padding: 10px 8px;
        overflow: hidden;

        .header-left {
            float: left;

            .header-item {
                margin-right: 8px;
            }

            .ant-select {
                width: 160px;
            }

            .inv-batch-custom-header-filter-input {
                width: 178px;
                vertical-align: middle;

                .ant-input {
                    border-bottom-right-radius: 0;
                    border-top-right-radius: 0;
                    border-right: none;
                    padding-left: 30px !important;
                    font-size: 12px;
                }
            }

            .inv-batch-custom-filter-btn {
                font-size: 18px;
                display: inline-block;
                border: 1px solid #d9d9d9;
                line-height: 30px;
                height: 32px;
                width: 32px;
                text-align: center;
                vertical-align: middle;
                border-bottom-right-radius: 3px;
                border-top-right-radius: 3px;
            }

            .tax-month {
                .ant-calendar-picker {
                    width: 116px;

                    .ant-input {
                        font-size: 12px;
                    }
                }
            }
        }

        .header-right {
            float: right;

            .inv-batch-custom-header-right-help {
                display: inline-block;
                vertical-align: middle;
                margin-right: 10px;
                width: 16px;
                height: 16px;
                background: url("./img/help.png");
                cursor: pointer;
            }

            .header-btn:not(:last-child) {
                margin-right: 8px;
            }
        }

        /*    .header-right:hover{
      .mk-btn.ant-btn-primary:hover{
        background-color: #F5F5F5;
        color: rgba(0,0,0,0.25);
      }
    }*/
    }

    .inv-batch-custom-table {
        flex: 1;
        display: flex;
        flex-direction: column;
        border-right: 1px solid #d9d9d9;

        .text-tax-amount {
            border-bottom: 1px solid @primary-color;
            padding-bottom: 2px;
        }

        .ant-table-header {
            //border-left: 1px solid #d9d9d9;
        }

        .operation {
            a {
                display: inline-block;
            }
        }

        .ant-spin-container {
            height: 100%;

            .ant-table-empty {
                height: 100%;

                .ant-table-content {
                    // height: 100%;
                    .ant-table-scroll {
                        //height: 100%;
                    }

                    .ant-table-body {
                        //height: 100% !important;
                    }
                }
            }
        }

        .operation {
            position: relative;
        }
    }

    .ant-table-thead {
        tr:first-child {
            th:last-child {
                border-right: none;
            }
        }
    }

    .ant-table-tbody {
        tr {
            td:last-child {
                border-right: none;
            }

            td.table_td_align_right {
                text-align: right;
            }
        }
    }

    .inv-batch-custom-footer {
        border: 1px solid #d9d9d9;
        border-top: none;

        .mk-pagination {
            margin: 0;
        }

        overflow: hidden;
        padding: 10px;
        height: 50px;
        justify-content: flex-start;
        align-items: flex-end;
        flex: none;
        background: #f9f9fb;

        .ant-pagination,
        .mk-pagination-goto-btn {
            vertical-align: bottom;
        }
    }
}

.inv-batch-custom-popover {
    .ant-popover-arrow {
        display: none;
    }

    .ant-popover-inner-content {
        padding: 0;

        .filter-content {
            padding: 12px 10px 0 10px;
        }

        .filter-footer {
            text-align: center;
            padding: 12px 0;
            border-top: 1px solid #e8e8e8;

            .reset-btn {
                margin-left: 10px;
            }
        }

        .inv-batch-custom-popover-item {
            margin-bottom: 12px;
        }

        .inv-batch-custom-popover-label {
            margin-right: 8px;
        }

        .ant-select {
            width: 180px;
        }
    }
}

.small-modal-class {
    .ant-modal-header {
        border-bottom: 1px solid #e8e8e8;

        .ant-modal-title {
            font-size: 14px;
            font-weight: bold;
        }
    }

    .islongding {
        margin-top: 30px;
    }

    .content {
        font-size: 12px;
        padding: 18px;
        color: #333;

        .label {
            width: 82px;
            text-align: right;
            display: inline-block;
            color: #333;
        }

        .list-item {
            line-height: 30px;
        }

        .tips-color {
            color: #ff9300;
            width: 70px;
            display: inline-block;
        }

        .tip-text {
            color: #999;
        }
    }
}

.inv-custom-list-limit-modal {
    .content {
        padding: 18px;

        p {
            padding: 0;
            margin-bottom: 12px;
        }

        .input-content {
            margin-bottom: 12px;

            .ant-input {
                width: 80px;
                padding: 0 8px;
                text-align: right;
            }

            .warning-text {
                color: #e94033;
                margin-left: 61px;
            }
        }
    }
}

.inv-batch-custom-info-modal {
    .ant-confirm-body {
        .anticon-exclamation-circle {
            //color: #e94033;
        }

        .ant-confirm-content {
            margin-top: 0;
        }
    }
}

.inv-tool-tip-normal {
    max-width: 500px;

    .ant-tooltip-content {
        .ant-tooltip-inner {
            padding: 12px;
            font-size: 12px;
            background-color: #ffffff;
            color: #333333;
            box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
            word-break: break-word;
        }
    }

    &.ant-tooltip-placement-top,
    &.ant-tooltip-placement-topRight,
    &.ant-tooltip-placement-topLeft {
        .ant-tooltip-arrow {
            border-top-color: #fff !important;
        }
    }

    &.ant-tooltip-placement-right,
    &.ant-tooltip-placement-rightTop,
    &.ant-tooltip-placement-rightBottom {
        .ant-tooltip-arrow {
            border-right-color: #fff !important;
        }
    }

    &.ant-tooltip-placement-left,
    &.ant-tooltip-placement-leftTop,
    &.ant-tooltip-placement-leftBottom {
        .ant-tooltip-arrow {
            border-left-color: #fff !important;
        }
    }

    &.ant-tooltip-placement-bottom,
    &.ant-tooltip-placement-bottomRight,
    &.ant-tooltip-placement-bottomLeft {
        .ant-tooltip-arrow {
            border-bottom-color: #fff !important;
        }
    }
}

.inv-tool-tip-warning {
    max-width: 500px;

    .ant-tooltip-content {
        .ant-tooltip-inner {
            padding: 12px;
            font-size: 12px;
            background-color: #ffecea;
            box-shadow: 0px 0px 5px 0px rgba(233, 64, 51, 0.25);
            border: solid 1px #fbc9c5;
            color: #e94033;
            word-break: break-word;
        }
    }

    &.ant-tooltip-placement-top,
    &.ant-tooltip-placement-topRight,
    &.ant-tooltip-placement-topLeft {
        .ant-tooltip-arrow {
            border-top-color: #fbc9c5 !important;

            &::after {
                content: "";
                top: -6px;
                width: 0;
                height: 0;
                border-color: transparent;
                border-style: solid;
                position: absolute;
                border-width: 5px 5px 0;
                left: -5px;
                border-top-color: #ffecea;
            }
        }
    }

    &.ant-tooltip-placement-right,
    &.ant-tooltip-placement-rightTop,
    &.ant-tooltip-placement-rightBottom {
        .ant-tooltip-arrow {
            border-right-color: #fbc9c5 !important;

            &::after {
                content: "";
                top: -5px;
                width: 0;
                height: 0;
                border-color: transparent;
                border-style: solid;
                position: absolute;
                border-width: 5px 5px 5px 0;
                left: 2px;
                border-right-color: #ffecea;
            }
        }
    }

    &.ant-tooltip-placement-left,
    &.ant-tooltip-placement-leftTop,
    &.ant-tooltip-placement-leftBottom {
        .ant-tooltip-arrow {
            border-left-color: #fbc9c5 !important;

            &::after {
                content: "";
                top: -5px;
                width: 0;
                height: 0;
                border-color: transparent;
                border-style: solid;
                position: absolute;
                border-width: 5px 0 5px 5px;
                left: -7px;
                border-left-color: #ffecea;
            }
        }
    }

    &.ant-tooltip-placement-bottom,
    &.ant-tooltip-placement-bottomRight,
    &.ant-tooltip-placement-bottomLeft {
        .ant-tooltip-arrow {
            border-bottom-color: #fbc9c5 !important;

            &::after {
                content: "";
                top: 2px;
                width: 0;
                height: 0;
                border-color: transparent;
                border-style: solid;
                position: absolute;
                border-width: 0 5px 5px 5px;
                left: -5px;
                border-bottom-color: #ffecea;
            }
        }
    }
}

.inv-custom-warning-text,
.exclamation-circle {
    color: #e94033;
    font-size: 16px;
    vertical-align: middle;
}

.inv-custom-success-text,
.check-circle {
    color: #00b38a;
    font-size: 16px;
    vertical-align: middle;
}

.ClockCircleOutlined,
.clock-circle {
    color: #0099ff;
    font-size: 16px;
    vertical-align: middle;
}

.inv-red-text-color {
    color: #e94033;
}

.inv-blue-text-color {
    color: @primary-color;
}

.inv-batch-custom-header-right-help-tooltip {
    .ant-tooltip-content {
    }

    .ant-tooltip-arrow {
        border-bottom-color: white;
    }

    .ant-tooltip-inner {
        background-color: white;
        color: gray;
    }
}

.align-right {
    text-align: right;
}

.inv-app-custom-list-month-detail-table {
    .ant-table-body {
        overflow: hidden !important;

        .mk-table .ant-table-tbody tr:last-child td {
            border-bottom: none !important;
        }
    }
}

.inv-app-custom-list-month-detail-12month-row-summary {
    display: flex;

    div {
        margin-top: -1px;
        border: 1px solid #d9d9d9;
        border-top: 1px solid #fff;
        border-right: none;
        height: 37px;
        line-height: 37px;
        border-top: none;
        padding-right: 6px;
        padding-left: 6px;
    }
}

.inv-app-custom-list-month-detail-footer {
    border-top: 1px solid #ebebeb;
    margin-top: 16px;
    padding-right: 10px;
    padding-top: 10px;
    margin-left: -10px;
    margin-right: -10px;
    text-align: right;
}

.salesAndPurchase-success-tips {
    padding: 5px 15px 2px;

    &-title {
        // margin-bottom: 10px;
        position: relative;
        padding-left: 30px;
        font-weight: 700;
        font-size: 14px;

        i {
            position: absolute;
            top: -1px;
            left: 0;
            width: 22px;
            height: 22px;
            margin-right: 10px;
            background: url("img/invoice-success-icon.png") no-repeat 0 0;
        }
    }

    &-content {
        // margin-top: 20px;
        border-bottom: none;

        .ant-table-body {
            overflow-x: hidden !important;
        }
    }

    .soft-tips {
        margin-top: 30px;

        .tips-color {
            color: #ff9300;
        }
    }

    &-footer {
        position: relative;
        margin-top: 25px;
        padding-top: 13px;
        text-align: right;
    }
}

.status-tips {
    list-style: none;
    padding: 0;
    margin: 0;

    li {
        list-style: none;
        padding: 0;
        margin: 0;
    }

    .tips-name {
        display: inline-block;
        width: 60px;
        text-align: right;
    }
}

.loadPlatform {
    margin-right: 8px;

    button {
        font-size: 13px;
    }

    .ant-btn.ant-dropdown-trigger {
        margin-left: 1px;
    }
}

.salesAndPurchase-success-tips-modal {
    .ant-modal {
        top: 25px;
    }

    .ant-modal-body {
        position: relative;

        &::before {
            content: "";
            position: absolute;
            bottom: 57px;
            left: 0px;
            width: 100%;
            border-top: 1px solid #e8e8e8;
        }
    }
}

.inv-col-setting {
    text-align: right;
    position: absolute;
    background: #e1f2ff;
    right: -1px;
    top: 50%;
    margin-top: -11px;
    border-radius: 13px 0 0 13px;
    cursor: pointer;
    box-shadow: 2px 4px 0px -1px #abb2b8;
    color: #0066b3;
    line-height: 22px;
    width: 42px;
    font-size: 12px;
}
