// .add_delect_icons{
//     display: block;
//     float: none;
    .add-delete-Icon{
        width: 16px;
        height: 16px;
        cursor: pointer;
        display: block;
        margin: 0 auto;
        &.icon-addRow{
            background: url(./icon_addRow.png) no-repeat 0 0;
        }
        &.icon-deleteRow{
            margin-top: 2px;
            background: url(./icon_deleteRow.png) no-repeat 0 0;
        }
    }
// }
