.edfx-subject-card {
	&-form {
		.mk-form-item {
			margin-left: 33px;
			margin-bottom: 0;
		}
		.mk-form-item:last-child {
			margin-left: 22px;
		}
		.ant-form-item-control-wrapper{
			display: inline-block;
			.ant-select-selection__rendered{
				width: 200px;
				.ant-select-selection-selected-value {
					width: 200px
				}
			}
		}
	}
}
.edfx-business-subject-manage-selects{
	.ant-select-dropdown-menu{
		max-height: 216px;
		min-height: 26px;
	}
}