.ttk-es-app-open-operate{
  color: #333;
  font-family: "Helvetica Neue", Helvetica, "PingFang SC", "微软雅黑", "Hiragino Sans GB", "Microsoft YaHei", Arial, sans-serif;
  font-size: 14px;
  overflow-x: hidden;
  *{
    padding: 0;
    margin: 0;
  }
  .ttk-es-app-open-operate-top{
    background:url("https://cloud-manager.oss-cn-beijing.aliyuncs.com/xdz/ope/bg.png") no-repeat top center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 400px;
    .ttk-es-app-open-operate-top-control{
      margin-right: 80px;
      color: #fff;
      .ttk-es-app-open-operate-top-control-title1{
        font-size: 50px;
      }
      .ttk-es-app-open-operate-top-control-title2{
        font-size: 28px;
      }
      .ttk-es-app-open-operate-top-control-title3{
        font-size: 18px;
        margin-top: 5px;
      }
      .ttk-es-app-open-operate-top-control-button{
        font-size: 16px;
        margin: 20px 0;
        padding: 0 40px!important;
        background-color: #17b22a;
        border: none;
        border-radius: 5px;
        height: 42px;
        line-height: 42px;
        span{
          color: #fff;
        }
        i{
          color: #fff;
        }
        &:hover{
          background-color: #17b22a;
          opacity: 0.9;
        }
        &:disabled{
          opacity: 0.6;
        }
      }
    }
    .ttk-es-app-open-operate-top-img{
      height: 320px;
    }
  }
  .ttk-es-app-open-operate-detail{
    padding: 30px 0;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .ttk-es-app-open-operate-detail-title{
      .ttk-es-app-open-operate-detail-title1{
        font-size: 36px;
        text-align: center;
        margin-bottom: 20px;
      }
      .ttk-es-app-open-operate-detail-title2{
        font-size: 16px;
        text-align: center;
        color: #666666;
      }
    }
    .ttk-es-app-open-operate-detail-items{
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      align-items: center;
      margin-top: 70px;
      .ttk-es-app-open-operate-detail-items-item{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0 20px;
        .ttk-es-app-open-operate-detail-items-item-title{
          font-size: 18px;
          height: 100px;
          width: 100px;
          border-radius: 50%;
          background-color: #00a2eb;
          color: #ffffff;
          text-align: center;
          line-height: 100px;
          margin-bottom: 30px;
        }
        .ttk-es-app-open-operate-detail-items-item-detail{
          font-size: 14px;
          width: 280px;
          text-align: center;
          margin: 0 20px;
          color: #666666;
        }
      }
    }
  }
  .ttk-es-app-open-operate-tip1{
    height: 400px;
    padding: 10px 0;
    box-sizing: content-box;
    background-color: #fafafa;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    .ttk-es-app-open-operate-tip1-detail{
      margin-right: 80px;
      width: 500px;
      .ttk-es-app-open-operate-tip1-detail-title{
        font-size: 24px;
        margin-bottom: 5px;
      }
      .ttk-es-app-open-operate-tip1-detail-list{
        font-size: 14px;
        color: #505050;
      }
    }
    .ttk-es-app-open-operate-tip1-img{
      height: 360px;
    }
  }
  .ttk-es-app-open-operate-tip2{
    height: 400px;
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    .ttk-es-app-open-operate-tip2-detail{
      margin-left: 80px;
      width: 500px;
      .ttk-es-app-open-operate-tip2-detail-title{
        font-size: 24px;
        margin-bottom: 5px;
      }
      .ttk-es-app-open-operate-tip2-detail-list{
        font-size: 14px;
        color: #505050;
      }
    }
    .ttk-es-app-open-operate-tip2-img{
      height: 280px;
    }
  }
  .ttk-es-app-open-operate-tip3{
    height: 400px;
    background-color: #fafafa;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    .ttk-es-app-open-operate-tip3-detail{
      margin-right: 80px;
      width: 500px;
      .ttk-es-app-open-operate-tip3-detail-title{
        font-size: 24px;
        margin-bottom: 5px;
      }
      .ttk-es-app-open-operate-tip3-detail-list{
        font-size: 14px;
        color: #505050;
      }
    }
    .ttk-es-app-open-operate-tip3-img{
      height: 360px;
    }
  }
  ::-webkit-scrollbar {
    width: 8px;
    border-radius: 8px;
    background: #ebeae8;
    border: 1px solid #dadada;
    /* 整个滚条背景 */
  }
  ::-webkit-scrollbar-thumb {
    -webkit-border-radius: 4px;
    border-radius: 4px;
    background: #c6c3bd;
    /* 滚条内嵌颜色 */
  }
  ::-webkit-scrollbar-thumb:hover {
    background-color: #707070;
  }
}