.ttk-es-app-ztmanage-pl {
    height: 170px;
    //position: relative;
    .fistPage{
        padding: 20px;
    }
    .firstPageFooter,.secondPageFooter{
        position: absolute;
        width: 100%;
        height: 50px;
        border-top: 1px solid #e8e8e8;
        bottom: 0;
        left: 0;
        .downloadZ{
            font-size: 12px;
            background: none;
            color: #0066b3;
            border: none;
            top: 9px;
        }
    }
    .secondPage{
        padding: 20px;
    }
    .mk-radio{
        display: block;
        margin-top: 15px;
    }

    .ant-btn-primary1 {
        height: 32px;
        padding: 0 8px;
        color: #fff;
        background-color: @primary-color;
        font-size: 12px;
        line-height: 28px;
        display: inline-block;
        font-weight: 400;
        text-align: center;
        touch-action: manipulation;
        cursor: pointer;
        background-image: none;
        border: 1px solid @primary-color;
        white-space: nowrap;
        //border-radius: 4px;
        user-select: none;
        transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
        position: relative;
        margin-left: -7px;
        top: -3px;
        border-radius: 0 4px 4px 0;
    }
}

