.ttk-es-app-customerassign-import{
    padding: 0 30px;
    .file-name {
        margin-left: 8px;
	    color: @primary-color;
		cursor: default;
		display: inline-block;
		max-width: 222px;
		white-space: nowrap;
		text-overflow: ellipsis;
		vertical-align: bottom;
		overflow: hidden;
		line-height: 30px;
    }
	.importBth:hover{
		text-decoration:underline;
	}
    .bottom {
		margin-bottom: 0px;
		// margin-left: 16px;
    }
    .noBottom{
        margin-bottom: 0px;
    }
    .ant-btn-primary {
	    height: 30px;
	    padding: 0 8px;
        color: #fff;
        background-color: @primary-color;
	    font-size: 12px;
	    line-height: 28px;
	    display: inline-block;
	    font-weight: 400;
	    text-align: center;
	    touch-action: manipulation;
	    cursor: pointer;
	    background-image: none;
	    border: 1px solid @primary-color;
	    white-space: nowrap;
	    border-radius: 4px;
	    user-select: none;
	    transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
		position: relative;
		margin-left: 16px;
    }
}