.ttk-scm-app-archives-card {
	&-form {
		display: flex;
		flex-direction: column;
		height: auto !important;
		.ant-form-item{
			label:after{
				content: ''
			}
		}
		.ttk-scm-app-archives-card-form-test {
			font-size: 12px;
			color: #FA954C;
		}
		.ttk-scm-app-archives-card-form1 {
			.ttk-scm-app-archives-card-form1-check {
				margin: 10px 0 10px 30px;
				.ant-checkbox {
					font-size: 12px;
				}
				span {
					font-size: 12px;
					color: #333;
				}
			}
			.ttk-scm-app-archives-card-form1-item {
				display: flex;
				margin: 0px 0px  0px 65px;
				.ant-select-enabled {
					width: 215px;
					height: 30px;
				}
			}
			.ttk-scm-app-archives-card-form1-group {
				display: flex;
				margin: 0px 0px  0px 65px;
				label {
					font-size: 12px;
				}
			}
			.ttk-scm-app-archives-card-form1-code {
				display: flex;
				margin: 0px 0px  0px 65px;
				.ant-form-item-control {
					width: 215px !important;
					height: 30px;
				}
			}
		}
		.ttk-scm-app-archives-card-form2 {
			.ttk-scm-app-archives-card-form2-check {
				margin: 10px 0 10px 30px;
				.ant-checkbox {
					font-size: 12px;
				}
				span {
					font-size: 12px;
					color: #333;
				}
			}
			.ttk-scm-app-archives-card-form2-item {
				display: flex;
				margin: 0px 0px  0px 65px;
				.ant-select-enabled {
					width: 215px;
					height: 30px;
				}
			}
			.ttk-scm-app-archives-card-form2-group {
				display: flex;
				margin: 0px 0px  0px 65px;
				label {
					font-size: 12px;
				}
			}
			.ttk-scm-app-archives-card-form2-test {
				font-size: 12px;
				color: #666666;
				margin: 0px 0px  0px 65px;
			}
		}
		.ttk-scm-app-archives-card-form3 {
			.ttk-scm-app-archives-card-form3-check {
				margin: 10px 0 10px 30px;
				.ant-checkbox {
					font-size: 12px;
				}
				span {
					font-size: 12px;
					color: #333;
				}
			}
			.ttk-scm-app-archives-card-form3-item {
				display: flex;
				margin: 0px 0px  0px 65px;
				.ant-select-enabled {
					width: 215px;
					height: 30px;
				}
			}
			.ttk-scm-app-archives-card-form3-group {
				display: flex;
				margin: 0px 0px  0px 65px;
				label {
					font-size: 12px;
				}
			}
			.ttk-scm-app-archives-card-form3-code {
				display: flex;
				margin: 0px 0px  0px 65px;
				.ant-form-item-control {
					width: 215px !important;
					height: 30px;
				}
			}
		}
		.ttk-scm-app-archives-card-form4 {
			.ttk-scm-app-archives-card-form4-check {
				margin: 10px 0 10px 30px;
				.ant-checkbox {
					font-size: 12px;
				}
				span {
					font-size: 12px;
					color: #333;
				}
			}
			.ttk-scm-app-archives-card-form4-item {
				display: flex;
				margin: 0px 0px  0px 65px;
				.ant-select-enabled {
					width: 215px;
					height: 30px;
				}
			}	
		}
		.ttk-scm-app-archives-card-form5 {
			.ttk-scm-app-archives-card-form5-check {
				margin: 10px 0 10px 30px;
				.ant-checkbox {
					font-size: 12px;
				}
				span {
					font-size: 12px;
					color: #333;
				}
			}
			.ttk-scm-app-archives-card-form5-item {
				display: flex;
				margin: 0px 0px  0px 65px;
				.ant-select-enabled {
					width: 215px;
					height: 30px;
				}
			}	
		}
		.ttk-scm-app-archives-card-form6 {
			.ttk-scm-app-archives-card-form6-check {
				margin: 10px 0 10px 30px;
				.ant-checkbox {
					font-size: 12px;
				}
				span {
					font-size: 12px;
					color: #333;
				}
			}
			.ttk-scm-app-archives-card-form6-test {
				font-size: 12px;
				color: #666666;
				margin: 0px 0px  0px 65px;
			}
		}
	}	
}