
@Color: #fff;
@ColorEven:#f8f8f8;
@iconBorder: 1px solid #D9D9D9;
@iconDayin: #45ACF7;
@iconDaochu: #00B38A;
@hoverTdColor: #e6f7f3;
.ttk-gl-app-arap-statrpt{
    width: 100%;
    height: 100%;
    overflow: auto;
    padding: 0 10px 10px 0;

    .ant-select-dropdown-menu-item{
        font-size: 12px;
    }
    .ant-select-selection__placeholder{
        font-size: 12px;
    }
    .ant-select-selection-selected-value{
        font-size: 12px;
    }

    .mk-table .ant-table-tbody td{
        height: 37px !important;
    }
    .mk-normal-search{
        .ttk-gl-app-arap-statrpt-normalSearch{
            display: inline-block;
            position: relative;
            margin-right: 8px;
            
            .edficon{
                font-size: 19px;
            }
            .mk-activeLabelSelect .ant-select-selection-selected-value {
                // max-width: 67px;
            }
            .ant-select-selection__clear{
                margin-right: none;
                right: 17px;
            }
            .ttk-gl-app-arap-statrpt-normalSearch-leftBtn{
                display: inline-block;
                position: absolute;
                left: 1px;
                top: 1px;
                width: 25px;
                z-index: 10;
                height: 20px;
                line-height: 30px;
                text-align: center;
                cursor: pointer;
                color: #ACACAC;
                border: none;
            }
            .ttk-gl-app-arap-statrpt-normalSearch-input{
                width: 210px;
                height: 30px;
                .ant-select-selection--single{
                    height: 30px;
                    line-height: 1.1
                }
                .ant-select-arrow{
                    margin-right: 15px;
                    // display: none;
                }
                .ant-select-selection__rendered{
                    height: 30px;
                    line-height: 30px;
                    margin: 0 20px;
                    padding-right: 5px;
                    .ant-select-selection-selected-value{
                        padding-right: 0;
                        font-size: 12px;
                        line-height: 30px;
                    }
                }
            }
            .ttk-gl-app-arap-statrpt-normalSearch-rightBtn{
                display: inline-block;
                position: absolute;
                right: 1px;
                top: 1px;
                z-index: 10;
                height: 20px;
                width: 25px;
                line-height: 30px;
                text-align: center;
                cursor: pointer;
                color: #ACACAC;
                border: none;
            }
        }
    }
    .ttk-table-app-list-td-con{
        display: inline-block;
        position: relative;
        width: 100%;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        vertical-align: middle;
    }

    &-headerContent {
        background:@Color;
        padding-top: 10px;
        background: #fff;
        border: 1px solid #d9d9d9;
        border-bottom: none;
    }

    &-header {
        display: flex;
        flex-direction: row;
        box-sizing:border-box;
        padding-bottom: 9px;
        padding-left: 10px;
        padding-right: 10px;
        height: 39px;
        justify-content: space-between;
        font-size: 12px;

        &-left{
            display: flex;
            align-items: center;
            .ant-select-selection__clear{
                margin-right: 12px;
            }
            .ant-input-group{
                width: 195px;
                display: inherit;
                input{
                    width: 103px;
                    font-size: 12px;
                    // background: #fff;
                    border-right: none;
                    cursor: default;
                    height: 30px;
                    color: rgba(0, 0, 0, 0.65)
                }
            }
            .mk-checkbox{
              font-size: 12px;
              margin-left: 8px;
            }

            &-supplierList-width{
                width: 160px;
                .ant-select-selection--single{
                  height: 30px;
                }
            }
            &-supplierList-grade{
                width: 130px;
                .ant-select-selection--single{
                  height: 30px;
                }
            }
            .mk-rangePicker{
                width: 80px;
                margin-right: 6px;
                .ant-input{
                   padding: 3px 2px 3px 2px;
                   height: 30px;
                   font-size: 12px;
                    input{
                       font-size: 12px;
                    }
                }
            }
            .mk-rangePicker:hover{
                .ant-calendar-picker-input:not(.ant-input-disabled)+.ant-calendar-picker-icon:after{
                    color: @primary-color;
                }
            }
            &-reload{
                width: 30px;
                height: 30px;
                font-size: 28px;
                border-radius: 5px;
                border: @iconBorder;
                cursor: pointer;
                color: @iconDayin;
                background: @Color;
                &:hover{
                    border-color:@iconDayin
                }
            }
        }
        &-right{
            display: flex;
            align-items: center;

            &-btn{
                margin-right: 8px;
            }
            .dayin {
                display: block;
                text-align: center;
                box-sizing: border-box;
                background:@Color;
                margin-left: 8px;
            }
            .daochu {
                display: block;
                text-align: center;
                box-sizing: border-box;
                background: @Color;
                margin-left: 8px;
            }
        }
        .edficon{
                width: 30px;
                height: 30px;
                font-size: 28px;
                border-radius: 5px;
                border: @iconBorder;
                cursor: pointer;
        }
        .edficon-shuaxin, .edficon-dayin{
            color: @iconDayin;
            margin-left: 8px;
        }
        .edficon-shuaxin:hover{
            border-color: @iconDayin
        }
        .edficon-dayin:hover{
            border-color: @iconDayin
        }
        .edficon-daochu{
            color: @iconDaochu;
        }
        .edficon-daochu:hover{
            border-color: @iconDaochu
        }

    }
    .mk-table .ant-table .ant-table-fixed tr td{
        text-overflow: ellipsis;
    }
    .mk-table .ant-table-tbody tr:last-child td{
        background: #fff6ea !important;
    }
    &-table-tbody{
        flex:1;
        background: #fff;
        border-right: 1px solid #d9d9d9;
        table tr td:last-child{
            border-right: none !important;
        }

        .ant-table-placeholder{
            border-right: none !important;
            border-left: none !important;
        }
        .ant-table-fixed-header table tr th:last-child{
            border-right: 1px solid #d9d9d9 !important;
        }
        .ant-table-fixed-header table tr td:last-child{
            border-right: 1px solid #d9d9d9 !important;
        }
        tr:last-child{
        	td{
                background:linear-gradient(#fff6ea, #fff6ea);
                font-weight: bold;
        	}
        }
    }
    //合计行滑过不变色
    .mk-table .ant-table .ant-table-fixed tr:last-child:hover{
        td{
            background:linear-gradient(#fff6ea, #fff6ea);
        }
    }
}
.AmountColumnStyle{
    text-align: right;
}
