.scm-incomeexpenses-type-list {
    height: 300px;
    padding-top: 40px;
    position: relative;
    &-btn {
		text-align: right;
		position: absolute;
		right: 0px;
		top: 0px;
		z-index: 1;
    }
    .app-list-unit-content {
        height: 260px;
        //border-right: 1px solid #d9d9d9;
        border-left: 1px solid #d9d9d9;
        border-bottom: 1px solid #d9d9d9;
    }
    .public_Scrollbar_main {
        border-top: none !important; 
    }
}

.scm-incomeexpenses-type-card {
    .mk-form-item {
        margin-left: 22px;
        margin-bottom: 0;
    }
    .ant-input {
        width: 200px;
    }
    .ant-form-item-label {
        width: 86px;
        text-align: right;
    }
    .btnGroup {
        display: inline-block;
        width: 100%;
        text-align: center;
        margin-top: 10px;
        padding-top: 10px;
        border-top: 1px solid #e8e8e8;
        .btnGroup-item {
            margin: 0 4px;
            padding: 0 15px;
        }
    }
}