.ttk-scm-inventory-account-set{
    font-size: 12px;
    &-checkbox{
        margin-top: 12px;
    }
    .anticon-bangzhutishi {
        position: absolute;
        top: 7px;
        font-size: 25px;
        height: 30px;
        line-height: 30px;
        color:@primary-color;
      //  cursor: pointer;
        font-weight: normal
    }
     margin: 0 auto;
     .ttk-scm-inventory-account-set-div{
         text-align: left;
         width: 100%;
 
     }
     .ant-tabs-bar{
        //  margin: 0 0 12px 0;
        margin-bottom: 0px !important;
     }
     .ant-radio-group {
         margin-top: 12px;
     }
     .mk-select {
        width: 150px;
        height: 26px;
        line-height: 26px;
        margin-bottom: 10px;
        .ant-select-selection--single{
            height: 26px;
            line-height: 26px;
            .ant-select-selection__rendered{
                height: 26px;
                line-height: 26px;
                .ant-select-selection-selected-value{
                    height: 26px;
                    line-height: 26px; 
                }
            }
        }
    }
    .ant-select-selection__clear {
        margin-right: 12px;
    }
     .ttk-scm-inventory-account-set-radio{
        display: block;
        height: 30px;
        line-height: 30px;
        font-size: 12px;
        margin-right:0
     }

     .ttk-scm-inventory-account-set-table-wrapper{
         height: 297px;
         border-right: 1px solid #d9d9d9;
         .ant-table-body{
            overflow-x: hidden !important;
        }
        .ant-table-thead{
            tr{
                th[rowspan='2']:last-child{
                    border-right: none;
                }
            }
        }
        .ant-table-tbody{
            tr{
                td:last-child{
                  border-right: none;
                }
            }

        }
     }
     .ant-table-placeholder{
         border-left: none !important;
         border-right: 1px solid #d9d9d9 !important;
         .mk-nodata{
             margin-top: 0 !important;
         } 
     }
     .ant-select-selection-selected-value {
         font-size: 12px;
     }
 }
 