@yiwancheng: #00b38a;
@yishenbao:rgb(250, 149, 76);
@weishenbao:rgb(250, 149, 76);
@wurenwu: #d0d0d0;

.ttk-es-app-job-account {
    padding: 10px;
    width: 100%;
    height: 100%;
    position: relative;

    .ttk-es-app-job-account-ward{
        width: 100%;
        height: 100%;
        position: relative;
        flex: 1;
        background:#f6f6f6;
        display: flex;
        flex-direction: row;
    }

    &-left {
        width:215px;
        background: #fff;
        border: 1px solid #d9d9d9;
        margin-right: 7px;
        &-top {
            height: 50px;
            width: 100%;
            border-bottom:1px solid #d9d9d9;
            padding: 10px;
        }
        &-title {
            font-size: 20px;
        }
        &-content{
            width: 100%;
            height: 90%;
            overflow-x: scroll;
            .ant-tree{
                font-size: 12px;
            }
        }
        .ant-tree li .ant-tree-node-content-wrapper.ant-tree-node-selected {
            background-color: #fff;
            color: #0066B3;
        }
    }

    &-right {
        position: relative;
        width: 100%;
        background: #fff;
        border: 1px solid #d9d9d9; 
        .ant-spin-nested-loading {
            height: 100%;
            display: flex;
            flex-direction: column;
            flex: 1;
    
            .ant-spin-container {
                height: 100%;
                display: flex;
                flex-direction: column;
                flex: 1;
            }
    
            .ant-spin {
                max-height: 100%;
            }
        }
        .ant-tabs-bar{
            margin-bottom: 8px;
            .ant-tabs-nav .ant-tabs-nav-animated{
                height: 50px;
            }
        }
    }

    &-top{
        display: flex;
        flex-direction: row;
        height: 50px;
        padding: 10px;
        justify-content: space-between;

        .topleft {
            display: flex;
            flex-direction: row;

            .XDZsousuo {
                font-size: 15px;
            }
            .ant-input {
                height: 30px;
                // border-left: none;
                padding-left: 28px !important;
            }
            .ant-input-prefix {
                left: 8px !important;
            }
            .ant-btn{
                height: 30px;
                line-height: 30px;
            }
            .ant-input-group-addon {
                background: #fff;
                padding: 5px 0px 5px 8px;
            }

            .tree {
                .ant-menu {
                    border-right: 1px solid #d9d9d9;
                }
            }
            .ant-form-item-label label{
                color: rgba(0, 0, 0, 0.65);
            }
        }

        .topright{
            .helpIcon{
                color: @primary-color;
                margin-right: 5px;
                font-size: 25px;
                position: relative;
                top: 5px; 
            }
        }

        .ant-select  {
            width: 150px;
            height: 30px;
            margin-right: 8px;
        }
        .ant-select-selection--single {
            height: 30px;
        }

        .topleftInput {
            position: relative;
            .wrap {
                position: absolute;
                width: 410px;
                top: 0px;
                z-index: 999;
                .searchwhere{
                    overflow: hidden;
                    clear: both;
                    .searchleft{
                        float: left;
                    }
                    .finishflagrad{
                        float: right;
                        .mk-form-item{
                            height: 30px;
                        }
                    }
                }
                
                .inputClass {
                    .ant-input {
                        width: 178px;
                    }
                    .ant-input {
                        border-radius:5px 5px 5px 5px;//
                    }
                }
                .ant-input-affix-wrapper {
                    width: 178px;
                    vertical-align: middle;
                }
                
                .edficon-XDZshaixuan {
                    width: 30px;
                    height: 30px;
                    font-size: 16px;
                    border: 1px solid #d9d9d9;
                    line-height: 27px;
                    border-radius: 0 5px 5px 0;
                    position: relative;
                    top: 1px;
                    // border-left: none;
                }
                .fromDiv {
                    background: #fff;
                    border: 1px solid #d9d9d9;
                    width: 380px;
                    .ant-form-item-label {
                        width: 70px !important;
                    }
                    .person {
                        width: 150px;
                        border: 1px solid #d9d9d9;
                        padding: 5px;
                        //display: flex;
                        //flex-direction: row;
                        .aclass {
                            height: 20px;
                            line-height: 24px;
                        }
                        a {
                            a:focus {
                                text-decoration: none;
                            }
                            a:visited {
                                text-decoration: none;
                            }
                        }
                        .personName {
                            height: 25px;
                            border: 1px solid #fa954c;
                            border-radius: 15px;
                            color: #fa954c;
                            font-size: 12px;
                            line-height: 22px;
                            padding: 0 5px;
                            background: #fa954c21;
                            margin-right: 8px;
                            display: inline-block;
                            .edficon-XDZguanbishanchu {
                                font-size: 8px;
                                margin-left: 8px;
                            }
                            .edficon {
                                &:hover{
                                    cursor: pointer;
                                }
                            }
                        }
                    }
                }
                .ant-calendar-picker{
                    width:116px;
                    .ant-calendar-picker-input{
                        padding-left: 10px !important;
                        font-size: 13px;
                    }
                }
                .Form {
                    padding: 0 10px;
                    .ant-calendar-picker-input {
                        padding-left: 10px !important;
                    }
                }
                .btnDiv {
                    border-top: 1px solid #d9d9d9;
                    height: 50px;
                    padding: 10px;
                    text-align: center;
                    .ant-btn-primary {
                        margin-left: 8px;
                    }
                }
            }
        }
    }

    &-tablediv {
        position: absolute;
        top: 110px;
        left: 10px;
        right: 10px;
        bottom: 50px;

        .ant-table-body {
            border-right: 1px solid #d9d9d9;
            .XDZzhuangtai-weishenbao {
                font-size: 15px;
                color: #d0d0d0;
            }
            .XDZzhuangtai-wurenwu {
                color: #fea772;
                font-size: 15px;
            }
            .XDZzhuangtai-yishenbao {
                color: #fea772;
                font-size: 15px;
            }
            .XDZzhuangtai-yiwancheng {
                color: #1ec6f3;
                font-size: 15px;
            }
        }

        .columnset {
            height: 20px;
            font-size: 18px;
            width: 30px;
            line-height: 20px;
            text-align: right;
            position: absolute;
            right: 0px;
            top: 57%;
            margin-top: -13px;
            cursor: pointer;
            padding: 0px 7px;
            background: rgb(255, 255, 255);
            border-radius: 13px 0px 0px 13px;
            transition: width 1s ease 0s;
        }
        .ant-table-thead {
            tr {
                th:first-child{
                    text-align: center !important;
                }
            }
        }
    }

    &-footer {
        height: 50px;
        padding: 10px 0;
        justify-content: space-between;
        font-size: 12px;
        align-items: center;
        
        .right{
            line-height: 30px;
            float: right;
            text-align: right;
            span{
                margin-right: 8px;
            }
        }
    }

    .acxBtnjzjd{
        margin-right:10px;
    }
    .ant-table-tbody{
        tr{
            // td:last-child{
            //     border-right: none;
            // }
            td.table_td_align_right{
                text-align: right;
            }
        }
    }
}

