.edf-company-manage-delete{
	.text{
		font-size: 12px;
		color: #FF6000;
		&>span{
			display: flex;
			flex-direction: column;
		}
	}
	.mk-form-item{
		display: flex;
		width:455px;
		margin:0 auto;
	}
}
