.ttk-app-inventory-import {
	padding: 0 20px;
    font-size: 12px;
	line-height: 28px;
	.anticon-xiazai{
		width: 30px;
		height: 30px;
		border-radius: 5px;
		border: 1px solid #d9d9d9;
		vertical-align: bottom;
		font-size: 28px;
		line-height: 28px;
		color: #47ace1;
		cursor: pointer;
	}
	.anticon-xiazai:hover{
		border: 1px solid #47ace1;
	}
	.ant-checkbox-wrapper{
		font-size: 12px;
		margin-left: 20px;
	}
	.ant-form-item{
		display: inline-block;
	}
	.wenjian{
		line-height: 43px;
    	margin-left: 20px;
	}
	.ant-input-affix-wrapper{
		height: 30px;
		margin-right: -2px;
		.ant-input{
			border-right: 0;
		}
	}
	.ant-input{
		height: 30px;
		text-overflow: ellipsis;
	}
	&-upload{
		.ant-upload{
			margin-left: -6px;
			vertical-align: middle;
		}
		.mk-btn{
			border-radius: 0 4px 4px 0;
		}
	}
	
}