.ttk-edf-app-iframe {
    position: absolute;
    top: 0;
    right: 10px;
    bottom: 10px;
    left: 0;
    padding:0!important;
	background: #fff;
	&.topImportant{
		top: 0 !important;
	}
    .iframeContainer{
        position: absolute;
        top:0;
        left:0;
        width:100%;
        bottom:0px;
    }
    &-iframe {
        height: 100%;
        width: 100%;
        border: 1px solid #d9d9d9;
    }
}
.dzgl.ttk-edf-app-iframe{
    right: 0px;
    .ttk-edf-app-iframe-iframe {
        border:none;
    }
}
.psb-modal-style{
	.ttk-edf-app-iframe {
		position: relative !important;
		.iframeContainer{
			position: relative!important;
		}
	}
	.ttk-edf-app-iframe-iframe {
		height: 510px;
	}
}
