.ttk-scm-supplyData-card {
    .ant-select-selection__clear{
        right: 22px !important
    }

    .ant-form-item-control-wrapper{
        display: inline-block;
        .ant-select{
            width: 180px;
        }
    }
    .name{
        margin-bottom: 10px
    }
    .ant-form-item{
        margin-bottom: 10px;
        margin-left:65px;
    }
    .ant-form-item-label {
        width: 60.61px;
    }
    .ant-form-item-label label::after {
        content: ''
    }
    .anticon-bangzhutishi {
        font-size: 25px;
        height: 30px;
        line-height: 30px;
        color:@primary-color;
        position: absolute;
        top: -7px;
        left: 184px;
    }
    .ant-spin-nested-loading {
        >.ant-spin-container {
            >.name:nth-child(2){
                position: relative;
            }
            .div1{
                font-size: 12px;
                margin-left: 12px;
            }
            .div2{
                font-size: 12px;                
                margin-left: 36px;
                margin-bottom: 8px;
            }
        }
    }


    .celldropdown{
        .ant-select-dropdown-menu.ant-select-dropdown-menu-vertical.ant-select-dropdown-menu-root{
            max-height: 180px;
        }
    }

}
.piliang {
    .ant-modal-body {
        padding: 10px 0px !important;
    }
}


