.app-account-subjects-accounting{
    &-info.ant-alert{
        padding: 8px 16px;
        margin-bottom: 10px;
        &-alert{
            display: block;
            line-height: 16px;
            font-size: 12px;
        }
    }
    &-form{
        &-item{
            padding: 0 20px;
            .ant-form-item-label{
                font-size: 12px;
                width: 80px;
                padding: 2px 0;
                height: 46px;
            }
            .ant-form-explain{
                top: 37px;
            }
            .btn{
                padding-left: 5px;
                font-size: 12px;
            }
            &-select{
                .ant-select-selection--single{
                    height: 26px;
                    .ant-select-selection__rendered{
                        line-height: 22px;
                    }
                }
            }
        }

    }
    &-footer{
        padding: 16px 16px 0;
    }
    a:hover {
        text-decoration: underline;
    }
}
.app-proof-of-charge-modal{
    [path = 'root.children.root-content.children.header'] {
        // padding: 11px 0px !important;
    }
    [path = 'root.children.root.children.root-content.children.header'] {
        // padding: 11px 0px !important;
    }
}