.bovms-app-memory-bank {
    align-items: center;

    &-div {
        text-align: center;
    }

    .ellipsis {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
}