.ttk-es-app-delete-info{
    font-size: 12px;
    min-height: 200px;
    &-progress {
        width: 80%;
        margin: 0 auto;
    }
    &-title{
        font-size: 14px;
        margin: 15px;
    }
    &-list {
        margin-left: 15px;
        .title {
            font-weight: bold;
        }
        .sucess {
            color: #eee;
        }
        .error {
            color: red;
        }
    }
}
