.ttk-es-app-card-syndromescombine{
  height: 100%;
  display: block;
  padding: 15px;

  .ant-form-item {
    display: flex;
    align-items: end;
    margin-left: 13px;
    .ant-form-item-control-wrapper {
      //width: 100%;
      width: 310px;
      display: flex;
      flex-direction: row;
      align-items: center;
      //height: 45px;
      .ant-form-item-control {
        width: 100%;
        height: 28px;
        position: relative;
        .ant-radio-wrapper{
          font-size: 12px;
        }
        .ttk-es-app-input{
          width: 280px;
        }
        .ttk-es-app-inputdz{
          width: 168px;
          .ant-input-suffix{
            .anticon-eye{
              display: none!important;
            }
          }
        }
        .ttk-es-app-select{
          width: 98px;
          float: left;
          margin-right: 10px;
        }
        .ant-form-explain {
          position: absolute;
          top: 36px;
          line-height: 18px;
          font-size: 12px;
        }
        .ant-form-item-children{
          display: flex;
          flex-direction: row;
          justify-content: flex-start;
          align-items: center;
          .anticon-bangzhutishi{
            font-size: 20px;
            margin-left: 5px;
          }
        }
      }
    }
    //警告字体12px，行间距22px
    margin-bottom: 0px;
    .ant-form-item-control {
      min-height: 55px;
    }
    .ant-form-item-label {
      min-height: 30px!important;
      line-height: 30px;
    }
  }

  .ant-form-item-label{
    width:110px;
  }

  .title {
    width: 100%;
    height: 30px;
    display: flex;
    flex: none;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    .ant-form-item-control-wrapper {
      width: auto;
    }

    .info {
      //width: 80px;
      background: #fff;
      position: relative;
      z-index: 1;
      font-weight: 600;
    }
    .anticon-bangzhutishi{
      font-size: 20px;
      margin-right: 5px;
    }
    .line {
      flex: 1;
      height: 1px;
      border-bottom: 1px dashed #E8E8E8;
    }
  }

  .ttk-es-app-card-syndromescombine-login-type{
    width: 100%;
    .ant-form-item-control-wrapper{
      width: 330px;
      .ant-form-item-control{
        height: auto;
        .ttk-es-app-card-syndromescombine-login-type-group{
          line-height: 30px;
        }
      }
    }
  }

  .camain{
    margin-left: 113px;
    .ttk-app-syndromes-ca-line{
      height: 100%;
      .ttk-app-syndromes-ca-line-step{
        height: 100%;
        .ttk-app-syndromes-ca-line-step-step2{
          display: flex;
          justify-content: center;
          align-items: center;
        }
      }
    }
  }
}

.ttk-app-syndromes-card-helpPopover{
  .ant-popover-inner-content{
    width: 120px;
    font-size: 12px;
  }
}

.ttk-app-syndromes-info-card-helpPopover{
  .ant-popover-inner-content{
    width: 170px;
    font-size: 12px;
  }
}