@lineBorderColor: #ECECEC;
.ttk-scm-app-subject-card {
	&-form {
		display: flex;
		flex-direction: column;
		height: auto !important;
		.ttk-scm-app-subject-card-form-test1 {
			margin-left: 40px;
			font-size: 12px;
			height: 16px;
			line-height: 16px;
			.ttk-scm-app-subject-card-form-test1-1 {
				float:left;
			}
			.ttk-scm-app-subject-card-form-test1-2 {
				color: #d9d9d9;
			}
		}
		.ttk-scm-app-subject-card-form-test2,.ttk-scm-app-subject-card-form-test4,.ttk-scm-app-subject-card-form-test6,.ttk-scm-app-subject-card-form-test8{
			margin-left: 40px;			
			color: #FA954C;
			margin-top: 4px;
			div {
				height: 16px;
				line-height: 16px;
				font-size: 12px !important;
			}
		}
		.formitem1,.formitem2,.formitem3,.formitem4{
			margin:0px 0px 10px 40px;
			.ant-form-item-control-wrapper {
				margin-top: 10px;
    			height: 50px;
				.ant-form-item-control {
					.ant-form-item-children {
						.ant-radio-group {
							label:nth-child(1) {
								margin-bottom: 5px;
							}
							.ant-radio-wrapper {
								display: block;
								span {
									font-size: 12px !important;
								}
							}
						}
					}
				}
			}
		}

		.ttk-scm-app-subject-card-form-test3 {
			margin-left: 40px;
			font-size: 12px;
			height: 16px;
			line-height: 16px;
			.ttk-scm-app-subject-card-form-test3-1 {
				float:left;
			}
			.ttk-scm-app-subject-card-form-test3-2 {
				color: #d9d9d9;
			}
		}

		.ttk-scm-app-subject-card-form-test5 {
			margin-left: 40px;
			font-size: 12px;
			height: 16px;
			line-height: 16px;
			.ttk-scm-app-subject-card-form-test5-1 {
				float:left;
			}
			.ttk-scm-app-subject-card-form-test5-2 {
				color: #d9d9d9;
			}
		}

		.ttk-scm-app-subject-card-form-test7 {
			margin-left: 40px;
			font-size: 12px;
			height: 16px;
			line-height: 16px;
			.ttk-scm-app-subject-card-form-test7-1 {
				float:left;
			}
			.ttk-scm-app-subject-card-form-test7-2 {
				color: #d9d9d9;
			}
		}
	}	

	.ttk-scm-app-subject-card-more {
        width: 100%;
        border-top: 1px dashed @lineBorderColor;
        display: flex;
        justify-content: center;
        margin: 3px 0 18px 0;
        :hover {
            color: @primary-color;
        }
        >span {
            display: inline-block;
            width: 70px;
            height: 26px;
            line-height: 26px;
            background-color: #F9F8FA;
            border-radius: 3px;
            cursor: pointer;
            padding-left: 10px;
            position: relative;
            span, i {
                margin-right: 5px;
                line-height: 26px;
                display: inline-block;
                height: 26px;
                position: absolute;
            }
            span {
                left: 10px;
            }
            i {
                right: 2px;
                font-size: 20px !important;
                opacity: 0.7;
            }
        }
    }
	.ttk-scm-app-subject-card-footer {
		height: 45px;
		display: flex;
		justify-content: center;
		align-items: center;
		border-top: 1px solid #ECECEC; 
		button {
			width: 72px;
			height: 30px;
			border: 0px !important;
			background: @primary-color;
			color: #fff;
		}
		button:hover {
			opacity: 0.65;
		}
	}
	.ttk-scm-app-subject-card-form-customer,.ttk-scm-app-subject-card-form-supplier {
		margin-left:40px; 
		.ant-select-selection--single {
			width: 150px;
		}
	}
	.ant-select-selection__clear {
		margin-right: 10px;
	}
}