.ttk-scm-app-voucher-ueight{
    border:solid 1px #d9d9d9;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    background-color: #fff;
    padding:0 20px !important;
    .ant-collapse-header:hover {
        background:@item-hover-bg;
    }
    .ttk-scm-app-voucher-ueight-title{
        text-align: center;
        height: 80px;
        line-height: 80px;
        font-size: 18px;
        font-weight: 400;
        color: #333
    }
    .step-name{
        text-align: left;
        padding-top: 10px;
    }
    .ant-collapse-content-box{
        text-align: center
    }
    .img{
        width: 90%;

    }
}