.ttk-es-app-customer-assign-modal{
    font-size: 12px;
    min-height: 340px;
    &-listdg {
      height: 275px;
      .mk-form .mk-form-item .ant-form-item-label{
        width: 100px!important;
        text-align: left!important;
      }
      &-dg{
        margin-left: 50px;
      }
      .ant-select-dropdown{
        height: 160px!important;

      }
      .ant-select-dropdown-menu{
        height: 160px!important;
      }
    }
  &-listpl{
    height: 275px;
    overflow: auto;
    .mk-form .mk-form-item .ant-form-item-label{
      width: 100px!important;
      text-align: left!important;
    }
    &-pl{
      margin-left: 70px;
      position: relative;
    }
    &-checkbox{
      top: 17px;
      position: absolute;
      left: -30px;
    }
    .ant-select-dropdown{
      height: 160px!important;

    }
    .ant-select-dropdown-menu{
      height: 160px!important;
    }
  }

}
.customer-assign-style{
    .ant-modal-body{
        padding-top: 30px;
    }
}
