.ttk-gl-app-finance-periodbegin-reinit{
	.text{
		font-size: 12px;
		color: #FF6000;
		&-marginleft{
			margin-left: 23px;
		}
	}
	.mk-form-item{
		display: flex;
		width:455px;
		margin:0 auto;
	}
}
