.ttk-scm-deductions-card {
	overflow: hidden;
	&-form {
		&-top {
			padding-left: 10px;
		}
		.footer {
			.btnGroup {
				text-align: center;
				margin-top: 10px;
				padding-top: 10px;
				border-top: 1px solid #e8e8e8;
				.btnGroup-item {
					margin: 0 4px;
					padding: 0 15px;
				}
			}
		}
		.mk-form-item {
			margin-left: 0;
			margin-bottom: 0;
			.edit {
				margin-left: 8px;
			}
		}
		.ant-form-item-control-wrapper{
			display: inline-block;
			.ant-select{
				width: 200px;
				.ant-select-selection__rendered {
					width: 100%;
				}
			}
		}
		.ant-input {
			width: 200px;
		}
		.ant-form-item-label {
			width: 120px;
			text-align: right;
		}
	}
}