.ttk-scm-collect-set{
    // align-items: center;
     margin: 0 auto;
     .ttk-scm-collect-set-div{
         text-align: left;
         width: 100%;
 
     }
     .ant-tabs-bar{
         margin: 0 0 12px 0;
     }
     // &-div{
     //     text-align: center;
 
     // }
     .collect-set-bangzhutishi{
         font-size: 25px;
         color:  @primary-color;
         position: absolute;
         bottom: 31px;
         right: 12px;
     }
     .ttk-scm-app-set-bookkeeping{
         align-items: flex-start;
         margin: 0 auto;
         overflow: hidden;
         font-size:12px;
         text-align: left;
 
         &-div{
             text-align: center;
         }
         .bookkeeping-item{
             display: flex;
             flex-direction: row;
             margin-top: 10px;
         }
         .bookkeeping-item-title{
             height: 30px;
             line-height: 30px;
             font-size:12px;
         }
         .set-bookkeeping-tips{
             font-size:12px;
             color: #ff913a;
         }
         .mk-radio .ant-radio-wrapper{
             font-size:12px;
         }
     }
     
     .ttk-scm-fileRules-card {
         text-align: left;
         .fixedDataTableRowLayout_rowWrapper .fixedDataTableCellLayout_main.public_fixedDataTableCell_main:nth-child(2){
             padding: 5px
         }
         .fixedDataTableRowLayout_rowWrapper .fixedDataTableCellLayout_main.public_fixedDataTableCell_main:nth-child(3){
             padding: 5px
         }
         .cell_header{
             line-height: 27px;
             height: 27px !important;
             width: 100% !important;
         }
         .inventoryName{
             text-align: left
         }
     
         .ant-select{
             width: 100%;
             height: 26px;
             .ant-select-selection.ant-select-selection--single{
                 height: 26px;
                 line-height: 26px;
                 .ant-select-selection__rendered{
                     height: 26px;
                     line-height: 26px;
                     .ant-select-selection-selected-value{
                         height: 26px;
                         line-height: 26px;
                         font-size: 12px;
                     }
                 }
                 .ant-select-selection__clear{
                     right: 22px;
                 }
             }
         }
     
     
         .checkbox{
             margin: 5px 0 8px 32px
         }
         .customer{
             font-weight: bold;
             font-size: 12px;
         }
         &-content{
             height: 200px;
             .mk-datagrid-addDelRow-cell {
                 &:hover{
                     border-right-width: 0px;
                     z-index: 2;
                 }
             }
             .fixedDataTableLayout_main.public_fixedDataTable_main{
                 height: 201px !important;
             }
             .public_Scrollbar_main{
                 border-left: 1px solid #d9d9d9 !important;
                 border-bottom: 2px solid #d9d9d9 !important
             }
             .fixedDataTableLayout_rowsContainer{
                 border-bottom: 2px solid #d9d9d9;
                 border-left: 1px solid #d9d9d9;
             }
             .mk-nodata{
                 img{
                     width: 130px;
                     height: 130px;
                     margin-top: 48px;
                 }
             }
         }
     
     }
     
     .ttk-scm-invoice-type-set{
         text-align: left;
         .type-item{
             height: 30px;
             line-height: 30px;
             font-size: 12px
         }
         .invoice-type-set-tip{
             font-size: 12px;
             color: #ff913a;
         }
     }
 
 }
 
 .ttk-scm-collect-set-modal{
     .ant-modal-body{
         padding-top: 0 !important
     }
 }
 
 