.ttk-scm-matchInventory-card {
    .fixedDataTableRowLayout_rowWrapper .fixedDataTableCellLayout_main.public_fixedDataTableCell_main:nth-child(2){
        padding: 5px
    }
    .cell_header{
          line-height: 27px;
          height: 27px !important;
          width: 100% !important;
      }
    .inventoryName{
        text-align: left
    }
    .ant-select{
        width: 100%;
        height: 26px;
        .ant-select-selection.ant-select-selection--single{
            height: 26px;
            line-height: 26px;
            .ant-select-selection__rendered{
                height: 26px;
                line-height: 26px;
                .ant-select-selection-selected-value{
                    height: 26px;
                    line-height: 26px;
                    font-size: 12px;
                }
            }
            .ant-select-selection__clear{
                right: 22px;
            }
        }
    }
    .checkbox{
        width: 100%;
        text-align: right;
        margin-bottom: 8px;
    }
    &-content{
        height: 200px;
        .mk-datagrid-addDelRow-cell {
            &:hover{
                border-right-width: 0px;
                z-index: 2;
            }
        }
        .fixedDataTableLayout_main.public_fixedDataTable_main{
            height: 201px !important;
        }
        .public_Scrollbar_main{
            border-left: 1px solid #d9d9d9 !important;
            border-bottom: 2px solid #d9d9d9 !important
        }
        .fixedDataTableLayout_rowsContainer{
            border-bottom: 2px solid #d9d9d9;
            border-left: 1px solid #d9d9d9;
        }
    }
}