// 重置antd-layout
.unset-layout-header, .unset-layout-footer {
    background: transparent;
    padding: 0;
}

.unset-layout-header {
    height: auto;
    line-height: normal;
}
.unset-layout-footer {
    color: #333;
    font-size: 14px;
}