// 设置弹窗
.ttk-bovms-print-setting-modal {
    .ant-modal-title {
        font-weight: 700;
    }
    .ant-modal-body {
        padding: 0;
    }
    .bovms-print-setting-content {
        height: 450px;
        padding: 10px 30px;
        overflow: auto;
        .ant-form-item-label {
            align-self: flex-start;
            padding: 0;
            width: 90px;
            text-align: left;
            font-size: 14px;
            // font-weight: 700;
        }

        .ant-form-item {
            padding: 2px 0;
        }
        .ant-checkbox-wrapper {
            width: 118px;
        }
        .ant-radio-wrapper {
            min-width: 120px;
        }

        &-item2 {
           .ant-radio-wrapper {
               min-width: 180px;
           }
        }
        .item3-span-r {
            margin-left: 76px;
        }
        .item4-span-r {
            margin-left: 66px;
        }
        &-item4 {
            .ant-form-item-control-wrapper {
                margin-left: -12px;
            }
        }


        // 通用
        .mgr8 {
            margin-right: 8px;
        }
        .mgl8 {
            margin-left: 8px;
        }
        // .helpIcon {
        //     // border: none;
        //     font-size: 22px;
        //     // top: 4px;
        //     line-height: 30px;
        //     color: #0066b3;
        //     // position: relative;
        //     // left: -10px;
        // }
        .blank {
            height: 10px;
        }
    }
    .bovms-print-setting-footer {
        padding: 12px;
        border-top: 1px solid #e8e8e8;
        text-align: right;
        line-height: 30px;
        &-tip {
            float: left;
            color: orange;
            span {
                color: #000;
            }
        }
        // &-confirm {

        // }
        &-cancel {
            margin-left: 10px;
        }
    }
}
