.ttk-bovms-print-preview-modal {
    .ant-modal-title {
        font-weight: 700;
    }
    // .ant-modal-body {
    //     padding: 0;
    // }

    .bovms-print-previw {
        &-wrapper {
            display: flex;
            flex-direction: column;
            height: 100%;
        }
        &-iframe {
            flex: 1;
            border: none;
        }
        &-footer {
            padding-top: 12px;
            text-align: right;
            .ant-btn {
                margin-left: 8px;
            }
        }
    }
}