@lineBorderColor: #ECECEC;
@fontColor: #515151;
@Color: #fff;
@iconBorder: 1px solid #D9D9D9;
.inv-app-riskControl-warp {
  background: @Color;
  height: 100%;
  margin: 0 10px 10px 0;
  border: none;
  overflow: hidden;
  padding: 0 !important;
  &-iframe {
    position: absolute;
    margin: 0 auto;
    padding: 0px;
    border: 0px;
    height: 100%;
    width: 100%;
  }
}