.ttk-stock-inventory-earlyStage-import-card {
    align-items: center;
    margin: 0 auto;
    text-align: left;
    h3{
        font-weight: 700;
        font-size: 15px;
        color: #333;
    }
	&-div{
        text-align: left;
        margin: 15px 0 35px 0px;
    }
    .p-item{
        margin-top: 12px;
    }
    .p1-icon-export{
        color: #0066B3;
        margin-left: 12px;
        padding: 6px;
        cursor: pointer;
        box-shadow: 0 0 3px #bbb;
        -webkit-box-shadow:  0 0 3px #bbb;
        -ms-box-shadow:  0 0 3px #bbb;
        border-radius: 2px;
        -webkit-border-radius: 2px;
        -ms-border-radius: 2px;
    }
    .p3-item-c2{
        margin: 20px 0 0px 50px;
    }
    .p3-item-c2-txt{
        float: left;
        line-height: 30px;
        display: inline-block;
        vertical-align: middle;
    }
    .mk-upload{
        float: left;
        height: 32px;
        width: 186px;
        display: inline-block;
        border: 1px solid #e0e0e0;
        border-radius: 2px;
        margin-left: 10px;

        .ant-upload{
            display: block;
            width: 250px;
            height: 30px;
            z-index: 2;
            position: relative;
            color: #ccc;
            line-height: 30px;
            text-indent: 8px;
            border-top-left-radius: 2px;
            border-bottom-left-radius: 2px;
            -webkit-border-top-left-radius: 2px;
            -webkit-border-bottom-left-radius: 2px;
            -ms-border-top-left-radius: 2px;
            -ms-border-bottom-left-radius: 2px;
        }
    }
    .ant-upload-select-text {
        .mk-btn.ant-btn{
            height: 32px;
            border-top-left-radius: 0px;
            border-bottom-left-radius: 0px;
        }
    }

    .ant-input-affix-wrapper .ant-input {
        border-top-right-radius: 0px;
        border-bottom-right-radius: 0px;
    }
    
    .p3-item-c2-button{
        float: left;
    }

    &-footer-btn{
		border-top: 1px solid #e8e8e8;
		position: absolute;
		width: 100%;
		left: 0;
		bottom: -25px;
		padding-top: 12px;
		height: 55px;
		display: flex;
		background: #fff;
		border-radius: 0 0 4px 4px;
		justify-content: flex-end;
		padding-right: 12px;
		&-btnGroup {
			&-item {
				margin-left: 8px;
				width: 59.39px;
				float: right;
			}
		} 
    }
}

.ttk-stock-inventory-earlyStage-import-card .mk-upload {
    float: none;
    width: 66px;
    vertical-align: middle;
    margin-left: 0px;
    border:none
}

.ttk-stock-inventory-earlyStage-import-card-export-toast {

    padding: 0;
}
.ttk-stock-inventory-earlyStage-import-card-export-toast-img {
    width: 32px;
    height: 32px;
    background: url(../commonAssets/loading.gif) no-repeat center;
    background-color: #999;
    background-size: 80%;
    display: inline-block;
    vertical-align: middle;
    margin-right: 15px;
    border-radius: 50%;
}
.ttk-stock-inventory-earlyStage-import-card-export-toast-div {
    background-color: #f6f6f6;
    padding: 10px 15px;
    border-radius: 8px;
}

.ttk-stock-inventory-earlyStage-import-card-export-toast .ant-modal-header {
    display: none;
}

.ttk-stock-inventory-earlyStage-import-card-export-toast .ant-modal-body {
    padding: 0;
}
 
.ttk-stock-inventory-earlyStage-import-card-export-toast .ant-modal-close {
    display: none;
}