.ttk-scm-app-collect-tip{
  padding: 0 12px 12px;
  font-size: 12px;
  .ttk-scm-app-collect-tip-content{
      margin-bottom:48px;
      text-indent: 28px;
      line-height: 2;
  }
  .ttk-scm-app-collect-tip-title{
    margin-bottom:8px;
    margin-top: 12px;
  }
  .ttk-scm-app-collect-tip-content-tip{
      color:red;
      margin-bottom:28px;
  }
  .tk-scm-app-collect-tip-footer {
    border-top: 1px solid #e8e8e8;
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 0;
    height: 50px;
    display: flex;
    background: #fff;
    border-radius: 0 0 4px 4px;
    justify-content: center;
    align-items: center;
}
}