.ttk-scm-app-warehouse-import{
    padding-left: 60px;
    p{
        margin-bottom: 12px;
    }
    a:hover{
        text-decoration: underline;
    }
    .file-name {
        margin-left: 5px;
        text-overflow: ellipsis;
    }
    .ant-btn-primary {
	    height: 30px;
	    padding: 0 8px;
        color: #fff;
        background-color: @primary-color;
	    font-size: 12px;
	    line-height: 28px;
	    display: inline-block;
	    font-weight: 400;
	    text-align: center;
	    touch-action: manipulation;
	    cursor: pointer;
	    border: 1px solid @primary-color;
	    white-space: nowrap;
	    border-radius: 4px;
	    user-select: none;
	    transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
		position: relative;
        margin-left: 16px;
        margin-bottom: 0;
    }
}

.import-tip {
    .anticon-question-circle {
        padding-top: 3px;
    }
    .ant-confirm-body .ant-confirm-content p {
        margin-bottom: 8px;
    }
    .ant-confirm-btns .ant-btn:first-child {
        display: none;
    }
}