.ttk-es-app-yyhome-annual-settlement{
  * {
    padding: 0;
    margin: 0;
  }
    // font-size: 14px;
    // height: 100%;
    // margin: 0;
    // padding: 0;
  /*标签自带样式重置*/
  // body {
    background: #f8f8f8;
    height: 100%;
    color: #222;
    font-family: /*"Helvetica Neue", Helvetica, "PingFang SC", */"微软雅黑", "Hiragino Sans GB", "Microsoft YaHei", Arial, sans-serif;
    font-size: 16px;
    margin: 0;
    padding: 0;
  // }
  .red {
    color: red;
  }
  .banner{
    height: 225px;
    width: 900px;
    background-image: url(./images/banner.png);
    background-repeat: no-repeat;
    background-size: 100% 100%; 
  }
  hr{
    height: 3px;
    padding: 0;
    margin:20px 0 0;
    background: #f7f7f7;
    border:none;
  }
  .mainWrapper{
    // width: 900px;
    margin: 0 auto;
    background: #fff;
    padding: 36px 40px 40px;
  }
  .cons{
    margin-top: 34px;
  }
  .cons p{
    line-height: 32px;
    margin: 0px 30px 0px 45px;
    font-size: 16px;
  }
  // .cons p img{
  //   max-width: 810px;
  //   margin-top: 16px;
  // }
  .pic{
    background-repeat: no-repeat;
    background-size: 100% 100%; 
    margin-top: 16px;  
    display: inline-block;
  }
  .pic1{
    width: 810px;
    height: 72.67px;
    background-image: url(./images/pic1.png);
  }
  .pic2{
    width: 188px;
    height: 161px;
    background-image: url(./images/pic2.png);
  }
  .pic3{
    width: 810px;
    height: 318.67px;
    background-image: url(./images/pic3.png);
  }
  .pic4{
    width: 173px;
    height: 335px;
    background-image: url(./images/pic4.png);
  }
  .pic5{
    width: 188px;
    height: 188px;
    background-image: url(./images/pic5.png);
  }
  .title{
    text-align: center;
    margin: 26px 0 26px;
  }
  .cons p.p2{
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    margin:20px 0 10px 24px;
    position: relative;
  }
  .cons p.p2 div{
    position: absolute;
    width: 160px;
    top: 0px;
    left: 216px;
  }
  .jiantou{
    width: 160px;
    height: 30.5px;
    background: url('./images/jiantou2.gif') no-repeat center top;
    background-size: 100% 100%; 
  }
  .cons p.p2 div.jiantou2{
    left: inherit;
    right: 226px;
    width: 160px;
    height: 30.5px;
    background: url('./images/jiantou2.gif') no-repeat center top;
    background-size: 100% 100%; 
    // background-repeat: no-repeat; 
  }
  .cons .div2{
    position: relative;
    height: 112px;
    margin: 30px 0 30px 0;
  }
  .cons h2{
    text-align: center;
    margin: 10px 0  0 0;
    font-size: 32px;
    font-weight: normal;
  }
  .ulLIst li{
    width: 33.3%;
    float: left;
    text-align: center;
    list-style: none;
  }
  .ulLIst{
    overflow:hidden;
    margin-top: 46px;
  }
  .ulLIst li h4{
    font-size: 22px;
    font-weight: normal;
    margin: 7px 0 13px 0;
  }
  .ulLIst li div{
    margin-bottom: 10px;
    width: 100px;
    height: 100px;
    display: inline-block;
  }
  .ulLIst p{
    font-size: 16px;
    line-height: 32px;
    margin: 0;
  }
  .listOne{
    background-image: url(./images/01.png);
    background-repeat: no-repeat;
    background-size: 100% 100%; 
  }
  .listTwo{
    background-image: url(./images/02.png);
    background-repeat: no-repeat;
    background-size: 100% 100%; 
  }
  .listThree{
    background-image: url(./images/03.png);
    background-repeat: no-repeat;
    background-size: 100% 100%; 
  }
  hr{
    border-top: 1px dashed  #eee;
    width: 100%;
    margin: 45px 0 42px 0;
  }
  dl{
    margin-top: 40px;
  }
  dt{
    position: relative;
    font-size: 22px;
    margin:36px 0 10px 0;
  }
  dt span{
    width: 32px;
    height: 32px;
    line-height: 32px;
    border-radius: 20px;
    font-size: 18px;
    border: 1px solid rgba(0,0,0,.5);
    text-align: center;
    display: inline-block;
    margin-right: 10px;
    top: -2px;
    position: relative;
    background: #fff;
  }
  dt:before{
    content: '';
    width: 1px;
    /*background: #000;*/
    position: absolute;
    height: 100%;
    left: 17px;
    top: 34px;
    border-left: 1px dotted #ddd;
  }
  dt.dt1:before{
    height: 394px;
  }
  dt.dt2:before{
    height: 483px;
  }
  dt.dt3:before{
    height: 125px;
  }
  dt.dt4:before{
    height: 100px;
  }
  dt.dt5:before{
    height: 118px;
  }
  dt.dt6:before{
    height: 122px;
  }
  dt.dt7:before{
    height: 100px;
  }
  dt.dt8:before{
    height: 500px;
  }
  dt.dt9:before{
    height: 100px;
  }
  dt.dt10:before{
    height: 100px;
  }
}