.ttk-scm-app-set-bookkeeping{
    align-items: center;
    margin: 0 auto;
    overflow: hidden;
    font-size:12px;
	&-div{
        text-align: center;
    }
    .bookkeeping-item{
        display: flex;
        flex-direction: row;
        margin-top: 10px;
    }
    .bookkeeping-item-title{
        height: 30px;
        line-height: 30px;
        font-size:12px;
    }
    .set-bookkeeping-tips{
        font-size:12px;
    }
    .mk-radio .ant-radio-wrapper{
        font-size:12px;
        margin-right: 0px !important;
    }
    // .ant-select-enabled {
    //     // width: 105px !important;
    //     width: 181px !important;
    // }
    span.ant-radio + * {
        padding-right: 0px !important;
    }
}