.ttk-tplus-account-card {
	.ant-form-item-control-wrapper{
		width: 67.5%;
		.ant-select{
			width: 100%;
		}
	}
	.num {
		position: absolute;
		width: 100%;
	}
	.unit {
		margin-left: 150px;
		.ant-form-item-control-wrapper{
			width: 120px !important;
			.ant-select{
				width: 100%;
			}
		}
	}
}