.subjectMesWarning {
    width: 365px !important;
    .ant-modal-body {
        // padding: 32px 50px 24px !important;
    }
}

.app-proof-of-charge-new-subjects {
    // padding-left: 20px;
    &-form {
        overflow: hidden;
        width: 90%;
        margin: 0 auto;
        position: relative; // padding-left: 5px;
        .mk-form .ant-form-explain,
        .ant-form-explain {
            top: 35px;
        }
        &-code {
            height: 45px;
            .ant-form-item-control-wrapper{
                
                .ant-form-item-children{
                    vertical-align: middle;
                    
                }
                // margin-top: 15px;
            }
            &-input{
                width: 230px;
                height: 28px;
                font-size: 12px;
            }
            .ant-select-selection--single {
                width: 260px;
            }
            .ant-input-group-wrapper {
                vertical-align: inherit;
                // position: relative;
                // top: 5px;
            }
            .ant-form-item-with-help {
                margin-bottom: 10px;
            }
            .ant-form-explain {
                top: 33px;
            }
        }
        .subjectNameInput{
            input{
                height: 28px;
            }
        }
        &-parent {
            display: flex;
            align-items: flex-start !important;
            margin-top: 10px;
            margin-bottom: 7px !important;
            .ant-form-item-label{
                line-height: 16px;
            }
            .ant-form-item-control{
                line-height: 20px !important;
            }
            .parentName {
                cursor: pointer;
                line-height: 20px;
                display: block;
                word-wrap:break-word;
                width: 280px;
            }
        }
    }
    &-footer {
        text-align: right;
        &-ok {
            margin-left: 8px;
        }
    }
    .number-content,.adjust-accounts-x ,.adjust-accounts,.adjust-accounts-content{
        .mk-form-item{
            .ant-select-selection--single{
                width: 105px !important;
            }
        }
    }
    .mk-form-item {
        .ant-form-item-label {
            width: 82px;
            font-size: 12px;
            padding: 2px 0;
            float: left;
            label {
                color: #666;
            }
        }
        .ant-checkbox-wrapper,
        .ant-radio-wrapper {
            font-size: 12px;
        }
        .ant-form-item-control {
            // vertical-align: middle;
            line-height: 45px;
            .ant-input-group {
                .ant-input-group-addon {
                    font-size: 12px;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    max-width: 176px;
                    height: 28px;
                    line-height: 27px;
                }
                .mk-input {
                    height: 28px;
                    input{
                        height: 28px;
                    }
                }
            }
        }
        .ant-select-selection--single {
            height: 28px;
            font-size: 12px;
            width: 260px;
            .ant-select-selection__rendered {
                line-height: 26px;
            }
        }
    }
    .auxiliary-content {
        flex-direction: row;
        flex-wrap: wrap;
        padding-left: 20px;
        overflow: hidden;
        width: 340px;
        .ant-checkbox-wrapper+.ant-checkbox-wrapper {
            margin-left: 0;
        }
        .ant-checkbox-wrapper {
            width: 33%;
            padding: 3px 0;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            line-height: 1.5;
        }
    }
    .adjust-accounts .ant-form-item-control {
        >.ant-checkbox-wrapper {
            line-height: 36px;
        }
    }
    .adjust-accounts,
    .adjust-accounts-x {
        margin-left: 12px;
    }
    .adjust-accounts-x .ant-form-item-control>span {
        display: flex;
        flex-direction: row;
        .ant-checkbox-wrapper {
            line-height: 46px;
        }
        .number-content,
        .adjust-accounts-content {
            .ant-form-item-label label {
                color: #666;
            }
        }
    }
    .number-content.mk-layout,
    .adjust-accounts-content.mk-layout {
        display: flex;
        flex-direction: row;
        line-height: 28px;
    }
    .btn {
        margin-left: 5px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        font-size: 12px;
        width: 35px;
    }
    .ant-form-explain {
        font-size: 12px;
        margin-top: 4px;
    }
    a:hover {
        text-decoration: underline;
    }
}

.app-proof-of-charge-modal {
    input {
        height: 30px;
    }
    [path='root.children.root-content.children.header'] {
        // padding: 11px 0px !important;
    }
    [path='root.children.root.children.root-content.children.header'] {
        // padding: 11px 0px !important;
    }
}