.ttk-scm-app-error-list{
    width: 100%;
    height: 100%;
    padding: 10px;
    box-sizing: border-box;
    overflow: auto;
    .error-list-item{
       // padding: 8px 15px;
        margin-bottom: 16px;
        font-size: 14px;
        line-height: 1.5;
        color: rgba(0,0,0,.65);
        box-sizing: border-box;
        list-style: none;
        position: relative;
        border-radius: 4px;
      
    }
    .error-list-success{
      //  border: 1px solid #ffa39e;
      //  background-color: #fff1f0;
        margin-bottom: 12px;
        text-align: left;
    }
    .itemP{
        margin-bottom: 0
    }
    .error-list-container{
        max-height: 120px;
        overflow: scroll;
    }
    .error-list-container4{
        max-height: 140px;
        overflow: scroll;
    }
    .error-list-container5{
        max-height: 160px;
        overflow: scroll;
    }
    .error-list-container6{
        max-height: 180px;
        overflow: scroll;
    }
    .error-list-container7{
        max-height: 200px;
        overflow: scroll;
    }
    .jinggao {
        i{
            font-size: 30px;
            color: #FA954C;
            padding-right: 8px;
        }
        span{
            position: absolute;
            top: 16%;
        }
    }
}