.edfx-app-login{
	@primary-color:#F27215;
	@primary-color-hover:rgba(242,114,21,0.2);
	@primary-color-focus:rgba(242,114,21,0.7);
	width: 100%;
	height: 100%;

	&-header{
	    height: 55px;
	    flex: 0 0 55px;
	    border-bottom: 1px solid rgb(222, 222, 222);
    	font-size: 20px;
    	font-weight: bold;
    	flex-direction:row;
    	align-items:center;
    	overflow: hidden;
		justify-content: space-between;

    	&-left {
			height: 55px;
			flex-direction: row;
			line-height: 55px;
			color: #ffffff;
			line-height: 55px;
			padding-left:30px;
			overflow: hidden;

			&-logo {
				width: 160px;
				height: 54px;
				margin: 0 0 0 0;
				cursor: pointer;
			}

			&-sitename {
				font-family: 'Microsoft Yahei', 'PingFang SC';
				font-style: normal;
				font-size: 24px;
				color: #FFFFFF;
				margin:0 auto;
				margin: 0px 0px 0px 10px;
			}

			&-split {
				width: 2px;
				height: 22px;
				background: #ffffff;
				margin: 21px 15px 0 0;
				display: none;
			}

			&-login {
				font-size: 18px;
				font-weight: 400;
				display: none;
			}
		}
		
		/*&-load {
			margin-right:10px;

	        i{
	            font-size: 13px;
	            transform:scale(0.83333333) rotate(0deg)
	        }
	        i:before{
	            content: "\E61D"
	        }
	        button{
				line-height:30px;
				border:1px solid @primary-color;
				border-radius: 5px;
				font-size:14px;
				font-weight:400;
				text-align: center;
				color:@primary-color;
				cursor: pointer;
	        }

			button:hover{
				color:#ffffff;
				background: @primary-color;
				border-color: @primary-color;
			}

			button:hover, button:focus{
				color:#ffffff;
				background: @primary-color;
				border-color: @primary-color;
			}

			&-ul {
				padding: 0;

				.ant-dropdown-menu-item-group-title {
					padding: 0;
				}

				.ant-dropdown-menu-item-group-list {
					list-style: none;
					padding-left: 0;

					.ant-dropdown-menu-item {
						color: @primary-color;
					}

					.ant-dropdown-menu-item:hover {
						color:#ffffff;
						background: @primary-color;
					}
				}
			}
		}*/

		&-client {
			font-size: 14px;
			color: #333333;
			font-family: "MicrosoftYaHei";
			cursor: pointer;
			font-weight: 400;
		}

		&-lineV {
			border-right: 1px solid #333333;
			height: 16px;
			margin: 0 10px;
		}

		&-phone {
			padding-right: 20px;
			font-size: 14px;
			color: #333333;
			font-family: "MicrosoftYaHei";
			cursor: pointer;
			font-weight: 400;
		}

		&-phoneoverlay {
			top:55px!important;
			width:138px;
			height:155px;
			.container{
				width: 138px;
				height: 156px;
				padding: 3px 4px 0;
				background: #FFFFFF;
				box-shadow: 0 0 4px 0 #5a5a5a;
				border-radius: 3px 3px 3px 3px;
				.qrcodeImg{
					//background: url(./img/shareqrcode.png) no-repeat;
					background-size:cover;
					width:130px;
					height:130px;
					border:none;
				}
				.content{
					margin:0 auto;
					font-size:13px;
					color: #010101;
					letter-spacing: -0.59px;
					line-height:normal;
					height:15px;
					text-align: center;
				}
			}
			&:after{
				content: '';
				position:absolute;
				width:0;
				height:0;
				border-style: solid;
				border-width: 4px;
				border-color: #ffffff #ffffff transparent transparent;
				transform: rotate(-45deg);
				// box-shadow:1px -1px 3px #C2C2C2;
				left: 66px;
		    	top: -4px;
			}
		}

		&-right{
			display: block;
			width:80px;
			line-height:30px;
			border:1px solid @primary-color;
			border-radius: 5px;
			font-size:14px;
			font-weight:400;
			text-align: center;
			color:@primary-color;
			margin-right:30px;
			cursor: pointer;
		}

		&-right:hover{
			color:#ffffff;
			background: @primary-color;
		}
	}

	&-content{
		flex:1;
		flex-direction: row;
		position: relative;
		overflow:hidden;

		&-bgs{
			position:absolute;
			width:100%;
			height:100%;
		}
		&-bgs:hover .slick-list{
			//transform: matrix(1.05,0,0,1.05,1,1)!important;
		}
		.ant-carousel{
			width:100%;
			height:100%;

			.slick-track{
				user-select: all;
			}
			.slick-list{
				transition: all .5s linear;
			}
			.slick-slide{
				position: relative;
			}
			div{
				height:inherit;
			}
			img{
				width:100%;
				height:100%;
			}
			.slick-dots li{
				margin:0 10px;
			}
			.slick-dots{
				overflow:hidden;
			}
			.slick-dots li button{
				background:#c7c7c7;
				width:40px;
				height:4px;
			}
		}

		&-ad{
			// position:absolute;
			width:409px;
			height:347px!important;
			// left:50%;
			// margin-left:-409px;
			// top:50%;
			// margin-top:-181px;
			float:left;
			color:#ffffff;

			p:nth-of-type(1){
				font-size:44px;
				line-height:normal;
				text-align: center;
				margin-bottom:0;
				user-select: none;
			}
			p:nth-of-type(2){
				font-size:16px;
				line-height:normal;
				text-align: center;
				margin-bottom:0;
				user-select: none;
			}
			p:nth-of-type(3){
				font-size:16px;
				line-height:normal;
				text-align: right;
				margin-bottom:0;
				user-select: none;
			}
		}
		&-ad2{
			// position:absolute;
			width:409px;
			height:347px!important;
			// left:50%;
			// margin-left:-409px;
			// top:50%;
			// margin-top:-181px;
			float:left;
			color:#ffffff;

			p:nth-of-type(1){
				font-size:44px;
				line-height:normal;
				text-align: center;
				margin-bottom:0;
				user-select: none;
			}
			p:nth-of-type(2){
				font-size:24px;
				line-height:normal;
				text-align: center;
				margin-bottom:0;
				user-select: none;
			}
			p:nth-of-type(3){
				font-size:24px;
				line-height:normal;
				text-align: center;
				margin-bottom:0;
				user-select: none;
			}
		}

		&-form{
			width:480px;
			height:347px;
    		flex-direction: column;
			justify-content: center;
			align-items:center;
			// position: absolute;
			// top:50%;
			// margin-top:-181px;
			// left:50%;
			float:right;
			background: rgba(249,248,250,0.7);
			border:1px solid #CECECE;
			border-radius: 16px;

			.mk-form-item{
            	margin-bottom: 25px
			}

			.ant-form-item-control-wrapper, .ant-input-group-wrapper{
				width: 90%;
				margin:0 auto;
			}


			.ant-form-item-control, .ant-input-wrapper{
				height: 50px;
			}

			.mk-input{
				height: 100%;
			}
			.ant-input-affix-wrapper:hover .ant-input:not(.ant-input-disabled){
				outline: 0;
				border-color:@primary-color;
				box-shadow: 0 0 0 2px @primary-color-hover;
			}
			.has-error .ant-input-affix-wrapper:hover .ant-input:not(.ant-input-disabled){
				border-color: #f5222d;
				box-shadow:none;
			}

			.ant-form-explain{
				margin-top: 5px;
			}

			&-title {
				width:100%;
				text-align: center;
				font-size: xx-large;
				font-size:28px;
				font-weight:700;
				margin-bottom:0!important;
				height:60px;
				margin-top:21px;
			}

			&-mobile{
				width:100%;

				.ant-input{
					border-radius:9px;
					padding-left: 32px !important;
					font-size: 16px;
					border-color:#bbbcbc;
				}
				.ant-input:hover, .ant-input:focus{
					outline: 0;
					border-color:@primary-color;
					box-shadow: 0 0 0 2px @primary-color-hover;
				}
				.has-error .ant-input, .has-error .ant-input:hover{
					border-color: #f5222d;
					box-shadow:none;
				}
			}

			&-password {
				width:100%;

				.ant-input{
					border-radius:9px;
					padding-left: 32px !important;
					padding-right: 30px !important;
					font-size: 16px;
					border-color:#bbbcbc;
				}
				.ant-input:hover, .ant-input:focus{
					outline: 0;
					border-color:@primary-color;
					box-shadow: 0 0 0 2px @primary-color-hover;
				}
				.has-error .ant-input, .has-error .ant-input:hover{
					border-color: #f5222d;
					box-shadow:none;
				}
			}

			&-login{
				.mk-btn{
					width: 100%;
					height: 100%;
					border-radius:8px;
				}
				.mk-btn-softly:focus{
					background: @primary-color-focus;
				}
				.mk-btn-softly{
					background-color: @primary-color-focus;
					border-color: @primary-color-focus;
					color:#fff;
					font-size:18px;
					border:none;
				}
				.mk-btn-softly[disabled]{
					color: #cccccc;
					background-color: #ececec;
					border-color: #ececec;
				}
				margin-bottom: 5px !important;
			}

			&-more{
				&-remember{
					font-size:13px;
					color:rgba(0, 0, 0, 0.65);
				}
				&-register{
					font-size:13px;
					color:@primary-color;
				}
				&-register:hover{
					color:@primary-color;
					text-decoration: underline;
				}
				.ant-form-item-children{
					display: block;
				}
				&-forget{
					font-size:13px;
					color:rgba(0, 0, 0, 0.65);
				}
				&-forget:hover{
					color:@primary-color;
					text-decoration: underline;
				}
				.ant-checkbox-inner{
					border-color:#d9d9d9 !important;
				}
				.ant-checkbox-checked .ant-checkbox-inner{
					background:@primary-color !important;
					border-color:@primary-color !important;
				}
			}

			.ant-input-prefix{
				font-size: 32px;
				color: #ccc;
				left:2px;
			}

			.ant-btn:not([disabled]):hover{
				background:@primary-color;
			}
		}
	}
	&-footer, &-footer-mobile{
    	height: 80px;
    	flex: 0 0 80px;;
    	justify-content: center;
    	align-items: center;
		background:#ffffff;
		border-top: 1px solid rgb(222, 222, 222);
		color:#a1a1a1;
		font-size:14px;
		font-weight:400;
		line-height:normal;
		p{
			margin:0;
		}
		a{
			color:@primary-color;
		}
	}
	&-footer-mobile{
		display:none;
	}
	&-browserCheck{
		background: #FFECEA;
		width:100%;
		height:60px;
		border: 1px solid rgba(250,124,99,0.20);
		border-radius: 0 0 5px 5px;
		position: absolute;
		top:0px;
		left:0px;
		&-img{
			zoom: 0.5;
		}
		&-middle{
			padding: 0 10px;
			margin-top: 15px;
			position: absolute;
		}
		&-title{
			font-size: 18px;
			color: #E94033;
			letter-spacing: 0;
			text-align: center;
			vertical-align: middle;
			margin: 10px;
		}
		&-close{
			cursor: pointer;
			zoom: 0.5;
		}
	}
	*::selection {
        background:@primary-color;
	}
	@media (max-width: 840px){
		.container {
			width: 900px;
		}
		.edfx-app-login-content-bgs .container{
			display: none;
		}
		.edfx-app-login-content .edfx-app-login-content-form{
			float:none;
			margin:0 auto;
		}

	}
	@media (min-width: 840px){
		.container {
			width: 900px;
		}
	}
	@media (min-width: 1280px){
		.container {
			width: 1000px;
		}
	}
	.container{
		position: absolute;
		top:50%;
		left:50%;
		transform: translate(-50%, -50%);
		-webkit-transform: translate(-50%, -50%);
		height:auto!important;
		font-family: 'Microsoft Yahei', 'PingFang SC';
	}
	&-bgs .slick-list .container{
		// transform: matrix(1.05,0,0,1.05,1,1)!important;
	}
	&-loading{
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0px;
		left: 0px;
		z-index: 999999;
		& > div{
			margin:auto;
			position:absolute;
			top:0;
			right:0;
			bottom:0;
			left:0;
			width:80px;
			height:60px;
		}
	}
}
.isMobile .edfx-app-login{
	.edfx-app-login-header{
		.edfx-app-login-header-right{
			display: none;
		}
	}
	.edfx-app-login-content{
		.edfx-app-login-content-bgs{
			display:none;
		}
		.container{
			width: 90%;
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			.edfx-app-login-content-form{
				width:100%;
			}
		}
	}
	.edfx-app-login-footer-mobile{
		display:block;
		text-align: center;
		p{
			line-height: 78px;
		}
	}
	.edfx-app-login-footer{
		display: none;
	}
}
