.costIncomeRatioCss{
    .cost-income-ratio{
        &-header{
            margin-bottom: 8px;
            input{
                height: 30px;
                font-size: 12px;
                width: 80px;
            }
        }
        &-table{
            height: 340px;
            .ant-table-body{
                border-right: 1px solid #d9d9d9;
            }
            .ant-table-tbody{
                .text_center{
                    text-align: center;
                }
                .text_right{
                    text-align: right;
                }
                .text_left{
                    text-align: left;
                }
            }
        }
    }
}