.inv-app-fastAuthentication-customsList {
    width: 100%;
    height: 100%;
    background-color: #fff;

    // padding: 0 0 15px 0!important;
    .ant-table-body {
        overflow: auto !important;
    }

    &-head {
        margin-top: 15px;
        width: 100%;
        height: 50px;
       /* text-align: center;*/

        &-headFilterAPP {
            position: relative;
            float: left;
        }
    }
    .inv-app-fastAuthentication-customsList-skssq{
        margin-left: 20px;
       display: inline-block;
        margin-top: 6px;
    }
    .inv-app-fastAuthentication-customsList-headSpan {
        color: red;
        font-size: 12px;

    }

    .inv-app-fastAuthentication-customsList-headButton {
        position: relative;
        float: right;
        padding-right: 20px;
    }

    .inv-app-fastAuthentication-customsList-tables {
        display: -ms-flexbox;
        -ms-flex-direction: column;
        -ms-flex: 1;
        height: 100%;

        //display: none;
        overflow: auto;
        &-table {
            flex: 1;
            -ms-flex: 1;
        }
        .ant-table {
            height: 100%;
        }
    }
    .inv-app-fasAuthentication-list{
        flex: 1;
        display: flex;
        flex-direction: column;

    }
    .inv-app-fastAuthentication-list-footer {
        overflow: hidden;
        height: 50px;
        justify-content: flex-start;
        align-items: flex-end;
        padding-top: 5px;
        flex: none;
        position: inherit;
        -ms-flex: none;
        -ms-flex-pack: flex-start;
        -ms-flex-align: flex-end;

        .mk-pagination {
            display: -ms-flexbox;
            padding-right: 15px;
        }

        .ant-pagination-options-quick-jumper {
            input {
                font-size: 14px;
            }
        }
        .footer-div{
            margin-left: 10px;
            margin-top: 7px;
            .span-left{
                margin-left: 10px;
            }
            .bold-text {
                font-weight: bold;
            }
        }
    }
}