.ttk-es-app-yyhome-batch-declare{
  *{
    padding: 0;
    margin: 0;
  }
  color: #333;
  font-family: "Helvetica Neue", Helvetica, "PingFang SC", "微软雅黑", "Hiragino Sans GB", "Microsoft YaHei", Arial, sans-serif;
  font-size: 14px;
  overflow-x: hidden;
  background: url("https://cloud-manager.oss-cn-beijing.aliyuncs.com/xdz/sb/bg.jpg") no-repeat top center;
  ::-webkit-scrollbar {
    width: 8px;
    border-radius: 8px;
    background: #ebeae8;
    border: 1px solid #dadada;
    /* 整个滚条背景 */
  }
  ::-webkit-scrollbar-thumb {
    -webkit-border-radius: 4px;
    border-radius: 4px;
    background: #c6c3bd;
    /* 滚条内嵌颜色 */
  }
  ::-webkit-scrollbar-thumb:hover {
    background-color: #707070;
  }
  .banner{
    margin: 0;
  }
  .module{
    text-align: center;
    margin-top: -1px;
  }
  .module.banner img{
    margin-left: 0;
  }
  .module img{
    margin-left: 16px;
  }
  div img{
    border:0;
    vertical-align: middle;
    text-align: center;
  }
  .banner4{
    padding-bottom: 20px;
  }
}