.ttk-es-app-yyhome-no-disk-authentication{
  *{
    padding: 0;
    margin: 0;
  }
  color: #333;
  font-family: "Helvetica Neue", Helvetica, "PingFang SC", "微软雅黑", "Hiragino Sans GB", "Microsoft YaHei", Arial, sans-serif;
  font-size: 14px;
  .wrapper{
    width: 900px;
    margin: 36px auto 0;
  }
  h2{
    font-size: 30px;
    font-style: italic;
    color: #d5181d;
    text-align: center;
    font-weight: bold;
    position: relative;
    margin-top: 20px;
  }
  h2:before{
    content: '';
    width: 240px;
    height: 4px;
    position: absolute;
    background: #d5181d;
    bottom: -4px;
    left: 50%;
    margin-left: -120px;
  }
  h2:after{
    content: '';
    width: 240px;
    height: 2px;
    position: absolute;
    background: #d5181d;
    bottom: -8px;
    left: 50%;
    margin-left: -120px;
  }
  .p1{
    font-size: 20px;
    color: #222;
    text-align: center;
    margin-top: 26px;
    font-weight: bold;
  }
  .p2{
    font-size: 20px;
    text-align: center;
    padding-top: 12px;
    font-weight: bold;
    color: #d5181d;
  }
  .step{
    margin: 20px auto 0;
    text-align: center;
  }
  h3{
    font-size: 20px;
    border: 3px solid #b21d15;
    color: #d5181d;
    width: 150px;
    height: 40px;
    display: inline-block;
    line-height: 40px;
    text-align: center;
    border-radius: 4px;
  }
  dl{
    padding-bottom: 40px;
  }
  dt{
    font-size: 22px;
    font-weight: bold;
    color: #222;
    margin-top: 40px;
    position: relative;
    z-index: 2;
  }
  dt:before{
    content: '';
    border-left: 1px dashed #e0e0e0;
    position: absolute;
    height: 424px;
    left: 20px;
    top: 54px;
  }
  dt span{
    width: 36px;
    height: 36px;
    display: inline-block;
    border-radius: 25px;
    background: #d5181d;
    font-size: 20px;
    color: #fff;
    font-weight: bold;
    text-align: center;
    line-height: 36px;
    margin-right: 14px;
  }
  dd{
    margin:24px 0 0 55px;
    font-size: 16px;
  }
  dd span{
    background: url('https://cloud-manager.oss-cn-beijing.aliyuncs.com/xdz/noDisk/jiantou.png') no-repeat;
    width: 20px;
    height: 14px;
    display: inline-block;
    padding-right: 10px;
    opacity: .8;
  }
  dd img{
    max-width: 760px;
  }
  dd b{
    font-size: 18px;
    font-weight: bold;
  }
  .dd2{
    font-size: 22px;
    color: #d5181d;
    font-weight: bold;
    position: relative;
    text-align: center;
    margin: 24px 0 40px;
  }
  .dd2:before{
    content: '';
    width: 66px;
    height: 4px;
    position: absolute;
    background: #d5181d;
    bottom: -4px;
    left: 50%;
    margin-left: -33px;
  }
  .dd2:after{
    content: '';
    width: 66px;
    height: 2px;
    position: absolute;
    background: #d5181d;
    bottom: -8px;
    left: 50%;
    margin-left: -33px;
  }
  .dt2:before{
    height: 1050px;
  }
  .dd3{
    font-size: 24px;
    color: #222;
    font-weight: bold;
    text-align: center;
  }
  .dd3 img{
    width: 160px;
    position: relative;
    left: -70px;
    top: 6px;
  }
  .dd3 img.img2{
    left: inherit;
    right: -55px;
  }
}