.ttk-es-app-sjcx{
    font-size: 12px;
    min-height: 390px;
    &-wrap{
        &-lxfs{
            margin-bottom:10px;
            &-select{
                width: 120px;
                display: inline-block;
                margin-right:10px;
            }
            &-input{
                width: 170px;
                display: inline-block;
            }
            &-Btn{
                display: inline-block;
                padding: 6px 12px;
                margin-bottom: 0;
                font-size: 14px;
                font-weight: 400;
                line-height: 1.42857143;
                text-align: center;
                white-space: nowrap;
                vertical-align: top;
                border: 1px solid #0066b3 ;
                background: #0066b3 ;
                color: #fff;
                border-radius:4px;
                margin-left:10px;
            }
        }
        &-xjkh{
            &-Btn{
                font-size: 14px;
                color: #999999;
                border: 1px dotted #999;
                padding: 5px 10px;
                border-radius: 3px!important;
                font-weight: normal;
                cursor: pointer;
                border-radius:4px;
                margin-left:15px;
                &:hover{
                    border: 1px dotted #248aff;
                    color: #248aff;
                    text-decoration: none;
                }
            }
        }
    }
}
