.inv-app-fastAuthentication{
  width: 100%;
  height: 100%;
  font-family: Microsoft YaHei, Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB, Arial, sans-serif;
  &-upSecretKey{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  /*  div{box-shadow:2px 2px 15px #DCDCDC }*/


  }
  &-upSecretKeyContent{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 308px;
    height: 328px;
    cursor:pointer;
    background-image: url(./img/1.png);
    background-repeat: no-repeat;
  }
  .inv-app-fastAuthentication-upSecretKeyContent-span12{
    position: absolute;
    cursor:default;
    margin-top: 30px;
    margin-left: -80px;
    font-size: 13px;
    .inv-app-fastAuthentication-upSecretKeyContent-span11{
      color: red;
    }
    .inv-app-fastAuthentication-upSecretKeyContent-span22{
      padding-left: 10px;
    }
  }
  &-upSecretKeyContent:hover{

    background-image: url(./img/2.png);

  }
}

