.ttk-scm-currentAccount-card {
    display: block;
    .ant-input {
        height: 26px;
        line-height: normal;
        font-size: 12px;
        text-align: right;
    }
   .fixedDataTableRowLayout_rowWrapper  .fixedDataTableCellLayout_main.public_fixedDataTableCell_main:nth-child(5){
       padding: 5px
    }
    .cell_header{
          height: 27px !important;
          line-height: 27px;
          width: 100% !important;
      }
    .account{
        margin-bottom: 5px;
        .ant-form-item-control-wrapper{
            display: inline-block;
            .ant-select{
                width: 180px;
            }
        }
    }
    &-content{
        height: 200px;
        .mk-datagrid-addDelRow-cell {
            &:hover{
                border-right-width: 0px;
                z-index: 2;
            }
        }
        .fixedDataTableLayout_main.public_fixedDataTable_main{
            height: 201px !important;
        }
        .public_Scrollbar_main{
            border-left: 1px solid #d9d9d9 !important;
            border-bottom: 2px solid #d9d9d9 !important
        }
        .fixedDataTableLayout_rowsContainer{
            border-bottom: 2px solid #d9d9d9;
            border-left: 1px solid #d9d9d9;
        }
        a{
            line-height: 35px;
        }
        .mk-nodata-img{
            width: 120px;
            height: 120px;
            bottom: -65px;
        }
        .mk-nodata-message{
            margin-top: 65px
        }
    }
    .right{
        text-align: right
    }
    .deleteI{
        font-size: 23px;
        line-height: 35px;
        &:hover{
            cursor: pointer;
        }
    }
}