.ttk-edf-app-help {
    width: 100%;
    height: 100%;
    padding: 0 14px;
	// &.topImportant{
	// 	top: 0 !important;
    // }
    .iframeLoading{
        display: flex;
        justify-content: center;
        align-items: center;
        width:100%;
        height: 100%;
    }
    .iframeContainer{
        // position: absolute;
        // top:0;
        // left:0;
        width:100%;
        height: 100%;
        // bottom:0px;
    }
    &-iframe {
        height: 100%;
        width: 100%;
        border: none;
        // height: 510px;
    }
}
// .dzgl.ttk-edf-app-iframe{
//     right: 0px;
//     .ttk-edf-app-iframe-iframe {
//         border:none;
//     }
// }
// .psb-modal-style{
// 	.ttk-edf-app-iframe {
// 		position: relative !important;
// 		.iframeContainer{
// 			position: relative!important;
// 		}
// 	}
// 	.ttk-edf-app-iframe-iframe {
// 		height: 510px;
// 	}
// }
.ttk-edf-app-help-modal-content{
    .ant-modal-header{
        border-bottom: none !important;
        margin-bottom: 10px;
    }
    .ant-modal-body {
        height: 480px;
        padding: 5px 0px;
    }
    .ant-modal-content {
        min-width: 650px;
    }
}
